<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="./../public/styles/main.css">
</head>
<body>
<div class="art-container" id="artist">
  <head-top></head-top>
  <section class="live" id="live_container">
    <div class="inner" v-if="haslive">
      <a href="javascript:;" class="play">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-play fa-stack-1x def"></i>
        </span>
        <span class="info live-now">正在直播</span>
      </a>
      <img src="public/img/mobile/resource/imgs.png" >
      <div class="info join-num">1234214241人关注</div>
    </div>
    <div class="inner" v-else>
      <img src="public/img/mobile/resource/imgs.png" >
      <div class="info join-num">1234214241人关注</div>
    </div>
  </section>
  <section class="nav-bar">
    <ul class="art-tab">
      <li class="item" v-for="(item, index) in tabs" :class="{chosen: index===tab_num}" @click="linkTo(index)">
        <a href="javascript:;">
          {{ item }}
        </a>
      </li>
    </ul>
  </section>
  <keep-alive>
    <component :is="currentView">
    </component>
  </keep-alive>
</div>
<script src="./../public/js/mobile/vue.js"></script>
<script src="./../public/js/mobile/api/index.js"></script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex(0)">
        <img :src="img_url + '/logo.png'">
      </li>
      <li class="user" @click="toLogin()">
        <i class="fa fa-user-circle-o"></i>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(index)">
            <span>{{ types }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu1.png'">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu2.png'">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu3.png'">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu4.png'">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu5.png'">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script type="text/x-template" id="live">
  <div class="tabs">
    <section class="ptop">
      <div class="text">
        组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件
        组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件
        组件组件组件组件组件组件组件组件组件组件组件组件
      </div>
      <div class="media">
        <ul class="img-list">
          <li>
            <img src="public/img/mobile/resource/pro01.png">
          </li>
          <li>
            <img src="public/img/mobile/resource/pro02.png">
          </li>
          <li>
            <img src="public/img/mobile/resource/pro03.png">
          </li>
        </ul>
      </div>
    </section>
    <ul class="news">
      <li class="item">
        <div class="text">
          组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件
          组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件
          组件组件组件组件组件组件组件组件组件组件组件组件
        </div>
        <div class="media">
          <video id="my-player" class="video-js" controls preload="auto"
                 poster="//vjs.zencdn.net/v/oceans.png">
            <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
            <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
            <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
          </video>
        </div>
      </li>
      <li class="item">
        <div class="text">
          组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件
          组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件
          组件组件组件组件组件组件组件组件组件组件组件组件
        </div>
        <div class="media">
          <ul class="img-list">
            <li>
              <img src="public/img/mobile/resource/pro01.png">
            </li>
            <li>
              <img src="public/img/mobile/resource/pro02.png">
            </li>
            <li>
              <img src="public/img/mobile/resource/pro03.png">
            </li>
          </ul>
        </div>
      </li>
      <li class="item">
        <div class="text">
          组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件
          组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件
          组件组件组件组件组件组件组件组件组件组件组件组件
        </div>
        <div class="media">
          <ul class="img-list">
            <li>
              <img src="public/img/mobile/resource/pro01.png">
            </li>
            <li>
              <img src="public/img/mobile/resource/pro02.png">
            </li>
            <li>
              <img src="public/img/mobile/resource/pro03.png">
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</script>
<script type="text/x-template" id="works">
  <div class="tabs">
    works
  </div>
</script>
<script type="text/x-template" id="chat">
  <div class="tabs">
    chat
  </div>
</script>
<script>
  config = {
    "index": "index.html",
    "login": "login.html"
  }
</script>
<script src="./../public/js/mobile/head.js"></script>
<script src="./../public/js/mobile/artist.js"></script>
</body>
</html>
