<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="./../public/styles/main.css">
  <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/1.9.2/skins/default/index.css" />
</head>
<body>
<div class="art-container" id="artist">
  <head-top></head-top>
  <section class="live" id="live_container">
    <div class="inner" v-if="haslive">
      <a href="javascript:;" class="play">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-play fa-stack-1x def"></i>
        </span>
        <span class="info live-now">正在直播</span>
      </a>
      <img src="public/images/resource/imgs.png" >
      <div class="info join-num">1234214241人关注</div>
    </div>
    <div class="inner" v-else>
      <img src="public/images/resource/imgs.png" >
      <div class="info join-num">1234214241人关注</div>
    </div>
  </section>
  <section class="nav-bar">
    <ul class="art-tab">
      <li class="item" v-for="(item, index) in tabs" :class="{chosen: index===tab_num}" @click="linkTo(index)">
        <a href="javascript:;">
          {{ item }}
        </a>
      </li>
    </ul>
  </section>
  <keep-alive>
    <component :is="currentView">
    </component>
  </keep-alive>
</div>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex(0)">
        <img :src="img_url + '/logo.png'">
      </li>
      <li class="user" @click="toLogin()">
        <i class="fa fa-user-circle-o"></i>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(index)">
            <span>{{ types }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu1.png'">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu2.png'">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu3.png'">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu4.png'">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img :src="img_url + '/menu5.png'">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script type="text/x-template" id="live">
  <div class="tabs">
    <section class="ptop">
      <div class="text">{{ top.content }}</div>
      <div class="media" >
        <video id="video_top" class="video-js vjs-big-play-centered" controls v-if="top.videoId !== ''"></video>
        <ul class="img-list" v-if="topImg">
          <li v-for="imgs in top.images">
            <img :src="imgs">
          </li>
        </ul>
      </div>
    </section>
    <ul class="news">
      <li class="item" v-for="(item, index) in liveList">
        <div class="text">{{ item.content }}</div>
        <div class="media">
          <video :id="'video_' + index" class="video-js vjs-big-play-centered" controls v-if="item.videoId !== ''"></video>
          <ul class="img-list" v-if="item.images.length > 0">
            <li v-for="(img, i) in item.images">
              <img :src="img">
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</script>
<script type="text/x-template" id="works">
  <div class="tabs">
    works
  </div>
</script>
<script type="text/x-template" id="chat">
  <div class="tabs">
    chat
  </div>
</script>
<script>
  config = {
    "index": "index.html",
    "login": "login.html",
    "artist":
      {
        "followCount":0,
        "name":"顾景舟11",
        "banner":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-22\/682efd0ab90940e0a9f664d029cf7d14.jpeg",
        "id":1,
        "dynamicList":
          {
            "entries":
              [
                {
                  "images":
                    [
                      "http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-23\/8101370a8a1b48669c9a64f0f74264bc.png"
                    ],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoId":"",
                  "id":1,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images":
                    [
                      "http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-23\/8101370a8a1b48669c9a64f0f74264bc.png"
                    ],
                  "videoImage":"\/images\/default-null.png",
                  "videoId":"",
                  "id":2,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images": [],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoId":"//vjs.zencdn.net/v/oceans.mp4",
                  "id":1,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images": [],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoId":"//vjs.zencdn.net/v/oceans.mp4",
                  "id":3,
                  "content":"组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件",
                  "isTop": true
                }
              ],
            "pager":
              {
                "prev":0,
                "current":1,
                "next":1,
                "page_size":20,
                "total_page":1,
                "total":1
              }
          }
      },
    "artistPage_url": "http://localhost:3000/artistPage"
  }
</script>
<script type="text/javascript" src="https://g.alicdn.com/de/prismplayer/1.9.2/prism.js"></script>
<script src="public/scripts/head.js"></script>
<script src="public/scripts/video.js"></script>
<script src="public/scripts/artist.js"></script>
<script type="text/javascript">
//  document.write("<div id = 'J_prismPlayer' style='width: 192px;height: 128px;' class='prism-player'></div >");
//  window.onload = function () {
//      new window.prismplayer(
//          {
//            id: "J_prismPlayer",
//            autoplay: true,
//            width: "1920px",
//            height: "1280px",
//            vid: "54ec1dee5ef74e85a7fec30e17efaf7a",
//            playauth: "客户调用接口生成",
//          }
//      );
//  };
</script>
</body>
</html>
