<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="./../public/styles/main.css">
</head>
<body>
<div class="art-container" id="artist">
  <head-top></head-top>
  <section class="live" id="live_container">
    <div class="inner" v-if="haslive">
      <a href="javascript:;" class="play">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-play fa-stack-1x def"></i>
        </span>
        <span class="info live-now">正在直播</span>
      </a>
      <img src="public/images/resource/imgs.png" >
      <div class="info join-num">1234214241人关注</div>
    </div>
    <div class="inner" v-else>
      <img :src="artist.banner">
      <div class="info join-num">{{ artist.followCount }}人关注</div>
    </div>
  </section>
  <section class="nav-bar">
    <ul class="art-tab">
      <li class="item" v-for="(item, index) in tabs" :class="{chosen: index===tab_num}" @click="linkTo(index)">
        <a href="javascript:;">
          {{ item }}
        </a>
      </li>
    </ul>
  </section>
  <keep-alive>
    <component :is="currentView">
    </component>
  </keep-alive>
</div>
<template id="pop">
  <div class="alet_container">
    <section class="tip_text_container">
      <div class="tip_text">{{ msg }}</div>
      <!--<div class="confrim" @click="close">确认</div>-->
    </section>
  </div>
</template>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img :src="img_url + '/logo.png'">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/images/resource/emptyPhoto.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu1.png">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu3.png">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu4.png">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script type="text/x-template" id="live">
  <div class="tabs">
    <section class="ptop">
      <div class="text">{{ top.content }}</div>
      <div class="media" >
        <video id="video_top" class="video-js vjs-big-play-centered" controls v-if="top.videoId !== ''"></video>
        <ul class="img-list" v-if="topImg">
          <li v-for="imgs in top.images">
            <img :src="imgs">
          </li>
        </ul>
      </div>
    </section>
    <ul class="news" v-load-more="nextPage" type="1">
      <li class="item" v-for="(item, index) in liveList">
        <div class="text">{{ item.content }}</div>
        <div class="media">
          <video :id="'video_' + index" class="video-js vjs-big-play-centered" controls v-if="item.videoId !== ''"></video>
          <ul class="img-list" v-if="item.images.length > 0">
            <li v-for="(img, i) in item.images">
              <img :src="img">
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <footer class="loader_more" v-show="preventRepeatReuqest">正在加载更多...</footer>
  </div>
</script>
<script type="text/x-template" id="works">
  <div class="tabs">
    <ul class="pro-list">
      <li v-for="(item, index) in workslist">
        <div class="inner">
          <div class="left">
            <img :src="item.defaultImage">
          </div>
          <div class="right">
            <div class="title overText">{{ item.name }}</div>
            <div class="text overTextH2">{{ item.intro }}</div>
            <div class="price overText">￥{{ item.price }}</div>
            <div class="btn-container">
              <a href="javascript:;" class="btn">我要购买</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</script>
<script type="text/x-template" id="chat">
  <div class="tabs">
    <ul class="chat-list" v-load-more="nextPage" type="1">
      <li v-for="(item, index) in chatlist">
        <div class="inner">
          <div class="info">
            <div class="img-container">
              <img :src="item.headPortrait">
            </div>
            <div class="user">{{ item.userName }}</div>
            <div class="time">{{ item.createTime }}</div>
          </div>
          <div class="context">{{ item.content }}</div>
          <div class="reply-container" v-if="item.replyContent.length > 0">
            <div class="icon"><img src="public/images/reply.png"></div>
            <div class="reply" v-for="(reply, index) in item.replyContent">{{ reply }}</div>
          </div>
        </div>
      </li>
    </ul>
    <footer class="loader_more" v-show="preventRepeatReuqest">正在加载更多...</footer>
    <section class="sub-chat">
      <a href="javascript:;" class="sub" @click="pop()">
        <span class="img">
          <img src="public/images/reply_chat.png">
        </span>
        <span class="txt">请输入要表达的信息</span>
      </a>
      <div class="aside" :class="{open:open,docked:docked}" @click.prevent="pop()">
        <div class="container" @click.stop="">
          <form id="chat_form">
            <div class="inner">
              <div class="top">
                <a href="javascript:;" class="cancel" @click.prevent="pop()">取消</a>
                <span class="title">我来聊两句</span>
                <a href="javascript:;" class="send" @click.prevent="send()">发送</a>
              </div>
              <textarea class="textarea" v-model="message"></textarea>
            </div>
          </form>
        </div>
      </div>
    </section>
    <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
  </div>
</script>
<script>
  config = {
    "productsType": [
      {
        "name": "全部",
        "code": "a"
      },
      {
        "name": "圆器",
        "code": "b"
      },
      {
        "name": "方器",
        "code": "c"
      },
      {
        "name": "花器",
        "code": "d"
      },
      {
        "name": "筋纹器",
        "code": "e"
      }

    ],
    "main_url": "http://localhost:9000/main.html",
    "index": "index.html",
    "login": "login.html",
    "artist":
      {
        "followCount":0,
        "name":"顾景舟11",
        "banner":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-22\/682efd0ab90940e0a9f664d029cf7d14.jpeg",
        "id":1,
        "dynamicList":
          {
            "entries":
              [
                {
                  "images":[],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "url":"//vjs.zencdn.net/v/oceans.mp4",
                  "id":1,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images":
                    [
                      "http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-23\/8101370a8a1b48669c9a64f0f74264bc.png"
                    ],
                  "videoImage":"\/images\/default-null.png",
                  "videoId":"",
                  "id":2,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images":
                    [
                      "http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-23\/8101370a8a1b48669c9a64f0f74264bc.png"
                    ],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoId":"",
                  "id":4,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images": [],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoId":"//vjs.zencdn.net/v/oceans.mp4",
                  "id":3,
                  "content":"组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件",
                  "isTop": true
                }
              ],
            "pager":
              {
                "prev":0,
                "current":1,
                "next":1,
                "page_size":20,
                "total_page":1,
                "total":1
              }
          }
      },
    "artistPage_url": "http://localhost:3000/artistPage",
    "artistWorks_url": "http://localhost:3000/artistWorks",
    "artistChat_url": "http://localhost:3000/artistChat",
    "chat_url": "aaaaaa"
  }
</script>
<script src="public/scripts/common/tools.js"></script>
<script src="public/scripts/head.js"></script>
<script src="public/scripts/video.js"></script>
<script src="public/scripts/artist.js"></script>
</body>
</html>
