<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="./../public/styles/main.css">
</head>
<body>
<div class="art-container" id="artist" v-cloak>
  <head-top></head-top>
  <section class="live" id="live_container">
    <div class="container">
      <div class="inner" v-if="haslive">
        <a href="javascript:;" class="play">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-play fa-stack-1x def"></i>
        </span>
          <span class="info live-now">正在直播</span>
        </a>
        <img :src="artist.banner">
        <div class="info join-num" :class="{fav:collected}" @click="collection"><i class="fa fa-heart"></i>111111111</div>
      </div>
      <div class="inner" v-else>
        <img :src="artist.banner">
        <div class="info join-num" :class="{fav:collected}" @click="collection"><i class="fa fa-heart"></i>111111111</div>
      </div>
    </div>
  </section>
  <section class="nav-bar">
    <ul class="art-tab">
      <li class="item" v-for="(item, index) in tabs" :class="{chosen: index===tab_num}" @click="linkTo(index)">
        <a href="javascript:;">
          {{ item }}
        </a>
      </li>
    </ul>
  </section>
  <keep-alive>
    <component :is="currentView">
    </component>
  </keep-alive>
</div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img src="public/img/mobile/logo.png">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/img/mobile/nologin-head.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu1.png">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu3.png">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu4.png">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script type="text/x-template" id="live">
  <div class="tabs">
    <section class="ptop">
      <div class="text">{{ top.content }}</div>
      <div class="media" :class="{vi: top.videoUrl!==''}">
        <mVideo v-if="top.videoUrl !== ''" :poster="top.videoImage" :url="top.videoUrl" id="'video' + top.id"></mVideo>
        <ul class="img-list clearfix" v-if="topImg">
          <li v-for="(imgs, index) in top.images">
            <img v-img="{ group: 'top', exsrc: top.largeImages[index]}"  v-view="imgs" src="public/img/mobile/img_loader.gif">
            <!--<img v-view="imgs" src="public/img/mobile/img_loader.gif">-->
          </li>
        </ul>
      </div>
    </section>
    <ul class="news" v-load-more="nextPage" type="1">
      <li class="item" v-for="(item, index)  in liveList">
        <div class="text">{{ item.content }}{{ item.id }}</div>
        <div class="media" :class="{vi: item.videoUrl!==''}">
          <mVideo v-if="item.videoUrl !== ''" :poster="item.videoImage" :url="item.videoUrl" id="'video' + item.id"></mVideo>
          <ul class="img-list clearfix" v-if="item.images.length > 0">
            <li v-for="(img, i) in item.images">
              <img v-img="{ group: item.id, exsrc: item.largeImages[i]}" v-view="img" src="public/img/mobile/img_loader.gif">
              <!--<img v-view="img" src="public/img/mobile/img_loader.gif">-->
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <no-data v-if="nodata" :imgurl="'public/img/mobile/no_data.png'" :text="'当前没有相关数据哟~'"></no-data>
    <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
  </div>
</script>
<script type="text/x-template" id="works">
  <div class="tabs">
    <ul class="pro-list">
      <li v-for="(item, index) in workslist">
        <div class="inner">
          <div class="left">
            <img :src="item.defaultImage">
          </div>
          <div class="right">
            <div class="title overText">{{ item.name }}</div>
            <div class="text overTextH2">{{ item.intro }}</div>
            <div class="price overText"><small class="pri-mark">￥</small>{{ item.price }}</div>
            <div class="btn-container">
              <a href="javascript:;" class="btn">我要购买</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <no-data v-if="nodata" :imgurl="'public/img/mobile/no_data.png'" :text="'当前没有相关数据哟~'"></no-data>
    <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
  </div>
</script>
<script type="text/x-template" id="chat">
  <div class="tabs">
    <ul class="chat-list" v-load-more="nextPage" type="1">
      <li v-for="(item, index) in chatlist">
        <div class="inner">
          <div class="info">
            <div class="img-container">
              <img :src="item.headPortrait">
            </div>
            <div class="user">{{ item.userName }}</div>
            <div class="time">{{ item.createTime }}</div>
          </div>
          <div class="context">{{ item.content }}</div>
          <div class="reply-container" v-if="item.replyContent.length > 0">
            <div class="icon"><img src="public/img/mobile/reply.png"></div>
            <div class="reply" v-for="(reply, index) in item.replyContent">{{ reply }}</div>
          </div>
        </div>
      </li>
    </ul>
    <no-data v-if="nodata" :imgurl="'public/img/mobile/no_data.png'" :text="'当前没有相关数据哟~'"></no-data>
    <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
    <section class="sub-chat">
      <div class="inner">
        <a href="javascript:;" class="sub" @click="popchat()">
        <span class="img">
          <img src="public/img/mobile/reply_chat.png">
        </span>
          <span class="txt">请输入要表达的信息</span>
        </a>
        <div class="aside" :class="{open:open,docked:docked}" @click.prevent="popchat()">
          <div class="container" @click.stop="">
            <form id="chat_form">
              <div class="inner">
                <div class="top">
                  <a href="javascript:;" class="cancel" @click.prevent="popchat()">取消</a>
                  <span class="title">我来聊两句</span>
                  <a href="javascript:;" class="send">
                    <subpost :txt="'发送'" ref="subpost" :status="true" @callback="send" @before="postBefore"
                             @success="postSuc" @error="postError" @alert="postTip"></subpost>
                  </a>
                </div>
                <textarea class="textarea" v-model="message"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>
    <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
  </div>
</script>
<template id="m_video">
  <div class="m-video-container">
    <div class="video-inner">
      <div v-if="!isVideoLoad" class="play-container" @click="loadVideo()">
        <img :src="poster" class="poster-img" />
        <img src="public/img/mobile/video_play.png" class="poster-play" />
      </div>
      <video class="m-video" :src="url" :id="id" preload="metadata" controls v-else></video>
    </div>
  </div>
</template>
<script>
  config = {
    "productsType": [
      {
        "name": "全部",
        "code": "a"
      },
      {
        "name": "圆器",
        "code": "b"
      },
      {
        "name": "方器",
        "code": "c"
      },
      {
        "name": "花器",
        "code": "d"
      },
      {
        "name": "筋纹器",
        "code": "e"
      }

    ],
    "main_url": "http://localhost:9000/main.html",
    "index": "index.html",
    "login": "login.html",
    "artist":
      {
        "followCount":0,
        "name":"顾景舟11",
        "banner":"https://cdn.fangcun.com/upload/images/2017-10-09/2a9cef5d45074c5e8c6e711ff6ff0c58.jpg!750",
        "id":1,
        "collected": false,
        "dynamicList":
          {
            "entries":
              [
/*                {
                  "images":[],
                  "largeImages": [],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoUrl":"http://200006282.vod.myqcloud.com/200006282_42ca7ffa1e9011e692fe0785d455c86c.f20.mp4",
                  "id":1,
                  "content":"ssss",
                  "isTop": false
                },*/
                {
                  "images":
                    [
                      "http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-23\/8101370a8a1b48669c9a64f0f74264bc.png"
                    ],
                  "largeImages": [
                    "/public/img/mobile/resource/test7.png",
                  ],
                  "videoImage":"\/images\/default-null.png",
                  "videoUrl":"",
                  "id":2,
                  "content":"ssss",
                  "isTop": true
                },
                {
                  "images":
                    [
                      "/public/img/mobile/resource/test1.png",
                      "/public/img/mobile/resource/test2.png",
                      "/public/img/mobile/resource/test3.png",
                    ],
                  "largeImages": [
                    "/public/img/mobile/resource/test1.png",
                    "/public/img/mobile/resource/test2.png",
                    "/public/img/mobile/resource/test3.png",
                  ],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoUrl":"",
                  "id":5,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images":
                    [
                      "/public/img/mobile/resource/test2.png",
                      "/public/img/mobile/resource/test2.png",
                      "/public/img/mobile/resource/test2.png",
                    ],
                  "largeImages": [
                    "/public/img/mobile/resource/test1.png",
                    "/public/img/mobile/resource/test1.png",
                    "/public/img/mobile/resource/test1.png",
                  ],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoUrl":"",
                  "id":4,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images":
                    [
                      "/public/img/mobile/resource/test3.png",
                    ],
                  "largeImages": [
                    "/public/img/mobile/resource/test4.png",
                  ],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoUrl":"",
                  "id":7,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images":
                    [
                      "/public/img/mobile/resource/test4.png",
                    ],
                  "largeImages": [
                    "/public/img/mobile/resource/test3.png",
                  ],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoUrl":"",
                  "id":8,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images":
                    [
                      "/public/img/mobile/resource/test5.png",
                    ],
                  "largeImages": [
                    "/public/img/mobile/resource/test6.png",
                  ],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoUrl":"",
                  "id":9,
                  "content":"ssss",
                  "isTop": false
                },
                {
                  "images":
                    [
                      "/public/img/mobile/resource/test6.png",
                      "/public/img/mobile/resource/test6.png",
                    ],
                  "largeImages": [
                    "/public/img/mobile/resource/test5.png",
                    "/public/img/mobile/resource/test5.png",
                  ],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoUrl":"",
                  "id":10,
                  "content":"ssss",
                  "isTop": false
                },
                /*{
                  "images": [],
                  "largeImages": [],
                  "videoImage":"//vjs.zencdn.net/v/oceans.png",
                  "videoUrl":"//vjs.zencdn.net/v/oceans.mp4",
                  "id":3,
                  "content":"组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件组件",
                  "isTop": false
                }*/
              ],
            "pager":
              {
                "prev":0,
                "current":1,
                "next":3,
                "page_size":20,
                "total_page":1,
                "total":1
              }
          }
      },
    "artistPage_url": "http://localhost:3000/artistPage",
    "artistWorks_url": "http://localhost:3000/artistWorks",
    "artistChat_url": "http://localhost:3000/artistChat",
    "chat_url": "aaaaaa"
  }
</script>
<script src="public/js/mobile/hammer.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/head.js"></script>
<script src="public/js/mobile/artist.js"></script>
</body>
</html>
