<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="public/styles/main.css">
  <!-- endbuild -->
</head>
<body>
<div class="auction-container" id="auction" v-cloak>
    <head-top @changelist="getprolist" :isindex="isindex"></head-top>
    <div class="prolist-container">
      <ul class="prolist" v-if="pro_list.length" v-load-more="nextPage" type="1">
        <li class="item" v-for="(item, index) in pro_list">
          <a href="javascript:;">
            <span class="pro-main">
              <span class="info">
                <span class="photo">
                  <img v-view="item.artistImg"
                       src="public/img/mobile/img_loader.gif">
                </span>
                <span class='context'>{{ item.artistName }}<span class='vtitle'>{{ item.artistTitle }}</span></span>
                <span class='mark'>{{ item.statusName }}</span>
              </span>
              <img v-view="item.defaultImg" src="public/img/mobile/img_loader.gif">
              <span class="sale clearfix">
                <span class="left">
                  <span class="title">当前价</span>
                  ￥{{ item.bidPrice }}
                </span>
                <span class="right">
                  {{item.status === 0 ? "开始" : "结束"}}时间：<span class="time" v-if="item.status === 0">{{ item.startTime }}</span><span
                  class="time" v-if="item.status !== 4">{{ item.endTime }}</span><span class="time" v-else></span>
                </span>
              </span>
            </span>
            <span class="title">{{ item.name }}</span>
            <span class="description">{{ item.intro }}</span>
          </a>
          <div class="ops clearfix">
              <img src="public/img/mobile/auction/viewcount.png"><span>{{ item.viewCount }}</span>
              <img src="public/img/mobile/auction/hammer.png"><span>{{ item.bidCount }}</span>
              <a href="javascript:;" class="right" @click="tip(item, index)">
                <img src="public/img/mobile/auction/remind-red.png">{{ item.remindId > 0 ? "取消提醒" : "提醒我"}}
              </a>
          </div>
        </li>
      </ul>
      <no-data v-if="nodata"></no-data>
      <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
      <img src="public/img/mobile/img_loader_s.gif" class="pager-loader" v-if="pagerloading">
    </div>
    <div class="copyright-container">
      <div class="info">
        Copyright&nbsp&copy;&nbsp;2018&nbsp;,宜兴方寸堂版权所有
      </div>
    </div>
  </div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img src="public/img/mobile/logo.png">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/img/mobile/nologin-head.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu1.png">
              <span>守艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script>
  var config = {
    "productsType": [
      {code: -1, name: "全部"},
      { code: 1, name: "进行中" },
      { code: 2, name: "待开始" },
      { code: 3, name: "往期回顾" },
    ],
    "auction_remind_url": "http://test.api.fangcuntang.com/auction/remind/set",
    "auction_url": "",
    "products":{
        'entries': [
          {
            "id": 1,
            "defaultImg": "https://cdn.fangcun.com/upload/images/2017-11-03/5dff6024149843a9af5ec1803c8e007b.jpg!750",
            "name": "《夺魁》",
            "intro": "此壶百分百选择天然原矿紫砂料，由紫砂名家手工制作，款型古朴高雅，线条流畅自然，极具收藏价值。作品我们均经过 精挑细选，深蕴内涵，典雅蕴涵，工艺精细，型用完备，深受藏家和紫砂爱好者喜爱。",
            "artistName": "徐秀棠",
            "artistImg": "https://cdn.fangcun.com/upload/images/2017-09-27/f1314ad8348f4fe4b93ede9df9ea129d.png!750",
            "artistTitle": "中国工艺美术大师",
            "statusName": "已结束",
            "status": 2,            /* 0: 未开始；1：已开始： 2：已结束 */
            "viewCount": 100,
            "bidCount": 16,
            "bidPrice": 0.00,
            "remindId": 0,      /* 大于0：取消提醒，等于0：提醒我， 小于0：不显示 */
            "isFaster": 0,
            "startTime": "12-05 18:40",
            "endTime": "12-05 18:42"
          },
          {
            "id": 3,
            "defaultImg": "https://cdn.fangcun.com/upload/images/2017-11-15/73df8f3e4e514b7b8e5ce22c51956e4b.png!750",
            "name": "国宝级",
            "intro": "不错的宝贝",
            "artistName": "袁小强",
            "artistImg": "https://cdn.fangcun.com/upload/images/2017-10-26/a065cae436d34a88b20fa2ab1c9b9022.jpg!750",
            "artistTitle": "中青辈优秀实力派陶艺家",
            "statusName": "已结束",
            "status": 2,
            "viewCount": 142,
            "bidCount": 1,
            "bidPrice": 15.00,
            "remindId": 0,
            "isFaster": 1,
            "startTime": "12-05 18:40",
            "endTime": "12-05 18:40"
          },
          {
            "id": 4,
            "defaultImg": "https://cdn.fangcun.com/upload/images/2017-11-22/59fbde503ce046b287eeee2ee1b4f1f3.png!750",
            "name": "websocket测试",
            "intro": "websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试",
            "artistName": "陆小强",
            "artistImg": "https://cdn.fangcun.com/upload/images/2017-10-26/d3c767e6e35e46e4a2e61c1c3a0e309f.jpg!750",
            "artistTitle": "中青年陶艺家",
            "statusName": "进行中",
            "status": 1,
            "viewCount": 100,
            "bidCount": 0,
            "bidPrice": 0.00,
            "remindId": 0,
            "isFaster": 1,
            "startTime": "12-05 18:40",
            "endTime": "12-05 18:40"
          }
        ],
        'pager': {'prev': 0, 'current': 1, 'next': 1, 'page_size': 5, 'total_page': 1, 'total': 13}

    },
    "index": "index.html",
    "login": "login.html",
    "isindex": true,
    "product_url": "http://localhost:3000/",

  }
</script>
<script src="public/js/mobile/head.js"></script>
<script src="public/js/mobile/auction.js"></script>
</body>
</html>
