<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="auctiondetail-container" id="auctiondetail" v-cloak>
  <section class="overview-container">
      <section class="video-container">
        <mVideo v-if="product.videoUrl" :poster="product.videoImg" :url="product.videoUrl" id="videotop"></mVideo>
        <m-swipe v-else swipeid="swipe" ref="swiper" :autoplay="0" effect="slide">
          <div v-for="(top, index) in tops" class="swiper-slide" slot="swiper-con">
            <a :href="top.url" class="link">
              <img :data-src="top" class="swiper-lazy silde-img">
            </a>
          </div>
        </m-swipe>
      </section>
      <section class="product-context">
        <strong class="title">{{ product.name }}</strong>
        <div class="vice-title">{{ product.subTitle }}</div>
        <div class="total">
          <div class="inner">
            <div class="num">{{ product.bidCount }}</div>
            <div class='text'>人出价</div>
          </div>
          <div class="inner">
            <div class="num">{{ product.viewCount }}</div>
            <div class='text'>人围观</div>
          </div>
        </div>
      </section>
      <section class="info clearfix">
        <div class="item clearfix">
          <span class="left">市场估价</span>
          <span class="right overText">￥{{ product.marketPrice }}</span>
        </div>
        <div class="item clearfix">
          <span class="left">保证金</span>
          <span class="right color-pri overText">￥{{ product.deposit }}</span>
        </div>
        <div class="item clearfix">
          <span class="left">竞争周期</span>
          <span class="right overText">{{ product.duration }}</span>
        </div>
        <div class="item clearfix">
          <span class="left">延时周期</span>
          <span class="right overText">{{ product.delaySecond }}</span>
        </div>
      </section>
      <section class='artist'>
        <img class='photo' src="https://cdn.fangcun.com/upload/images/2017-08-01/0e0801a023b64b9f952bdac63aa9583e.png!120"/>
        <img class='arrow' src="https://cdn.fangcun.com/static/img/mobile/arrow_right.png"/>
        <div class='content'>
          <span class='title'>{{ product.artistName }}</span><span class='vtitle'>{{ product.artistTitle }}</span>
          <span class='text overTextH3'>{{ product.artistIntro }}</span>
        </div>
      </section>
      <section class="content">{{ product.content }}</section>
  </section>
  <section class='det-container'>
    <div class='main'>
      <div class='info'>
        <img class='photo' :src="product.bidUserHeadPortrait"/>
        <div class='user'>{{ product.bidUserName }}</div>
        <div class='status'>{{ product.bidStatusName }}</div>
      </div>
      <div class='price'>
        <div class='up'>当前价：<span class='low'>最低+{{ product.increasePrice }}</span></div>
        <div class='down'>{{ product.bidPrice }}元</div>
      </div>
    </div>
    <div class='other clearfix'>
      <div class="left">
        <img src="https://cdn.fangcun.com/static/img/mobile/auction/remind-yw.png"/>
        <div class='text'>距结束仅剩：<m-time :end-time="product.endTime" :callback="end"></m-time></div>
      </div>
      <div class="right">
        同场其他拍品
        <img src="https://cdn.fangcun.com/static/img/mobile/head_r.png"/>
      </div>
    </div>
  </section>
  <div class="aside" :class="{open:open,docked:docked}" @click.prevent="choose()">
    <div class="container">
      <div class='chat-inner'>
        <div class='chat-item'>
          <img class='photo' src="https://cdn.fangcun.com/static/img/mobile/nologin-head.png"/>
          <div class='content'>
            <div class='title'>方寸小拍<span class='time'>17小时前</span></div>
            <div class='main'>p安排p安排p安排p安排p安排p安排p安排p安排</div>
          </div>
        </div>
        <div class='chat-item host'>
          <img class='photo' src="https://cdn.fangcun.com/static/img/mobile/nologin-head.png"/>
          <div class='content'>
            <div class='title'>方寸小拍<span class='time'>17小时前</span></div>
            <div class='main'>p安排p安排p安排p安排p安排p安排p安排p安排</div>
          </div>
        </div>
        <div class='chat-item price'>
          <img class='photo' src="https://cdn.fangcun.com/static/img/mobile/nologin-head.png"/>
          <div class='content'>
            <div class='title'>方寸小拍<span class='time'>17小时前</span></div>
            <div class='main'>出价：231234元<span class='text off'>失效</span></div>
          </div>
        </div>
        <div class='chat-item price'>
          <img class='photo' src="https://cdn.fangcun.com/static/img/mobile/nologin-head.png"/>
          <div class='content'>
            <div class='title'>方寸小拍<span class='time'>17小时前</span></div>
            <div class='main'>出价：231234元<span class='text on'>有效</span></div>
          </div>
        </div>

        <div class='chat-item'>
          <img class='photo' src="https://cdn.fangcun.com/static/img/mobile/nologin-head.png"/>
          <div class='content'>
            <div class='title'>方寸小拍<span class='time'>17小时前</span></div>
            <div class='main'>p安排p安排p安排p安排p安排p安排p安排p安排</div>
          </div>
        </div>
        <div class='chat-item host'>
          <img class='photo' src="https://cdn.fangcun.com/static/img/mobile/nologin-head.png"/>
          <div class='content'>
            <div class='title'>方寸小拍<span class='time'>17小时前</span></div>
            <div class='main'>p安排p安排p安排p安排p安排p安排p安排p安排</div>
          </div>
        </div>
        <div class='chat-item price'>
          <img class='photo' src="https://cdn.fangcun.com/static/img/mobile/nologin-head.png"/>
          <div class='content'>
            <div class='title'>方寸小拍<span class='time'>17小时前</span></div>
            <div class='main'>出价：231234元<span class='text off'>失效</span></div>
          </div>
        </div>
        <div class='chat-item price'>
          <img class='photo' src="https://cdn.fangcun.com/static/img/mobile/nologin-head.png"/>
          <div class='content'>
            <div class='title'>方寸小拍<span class='time'>17小时前</span></div>
            <div class='main'>出价：231234元<span class='text on'>有效</span></div>
          </div>
        </div>
      </div>
      <div class='send clearfix'>
        <input type='number' class='amount' placeholder='输入想要表达的信息'/>
        <a href="javascript:;" class='btn'>发送</a>
      </div>
      <div class='slide'>
        <img class='tips-img' src="https://cdn.fangcun.com/static/img/mobile/auction/slide.png"/>
        <a href="javascript:;" class='tips'>右滑查看拍品</a>
      </div>
    </div>
  </div>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
  <footer class="foot-container">
    <div class="inner">
      <div class="nav">
        <div class="lis message">
          <a href="javascript:;" class="foot-link" @click='choose'>
            <img src="https://cdn.fangcun.com/static/img/mobile/auction/hu.png" v-if="open"/>
            <img src="https://cdn.fangcun.com/static/img/mobile/auction/chat.png" v-else/>
          </a>
        </div>
        <div class="lis inp">
          <input type='number' class='input' placeholder='最低加价100' v-model.number="addpri"/>
        </div>
        <a href="javascript:;" class="lis add" @click="add">+</a>
        <a href="javascript:;" class="lis buy">
          <span class="txt grey" v-if="product.status == 1">拍卖未开始</span>
          <span class="txt" v-else-if="product.status < 3">预交保证金</span>
          <span class="txt" v-else-if="product.status > 10">继续报名</span>
          <span class="txt" v-else-if="product.status === 3">我要出价</span>
          <span class="txt grey" v-else-if="product.status === 4">拍卖结束</span>
        </a>
      </div>
    </div>

  </footer>

</div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script src="public/js/mobile/api/apis.js"></script>
<script>
  var config = {
    "productsType": [
      {
        "name": "全部",
        "code": "a"
      },
      {
        "name": "圆器",
        "code": "b"
      },
      {
        "name": "方器",
        "code": "c"
      },
      {
        "name": "花器",
        "code": "d"
      },
      {
        "name": "筋纹器",
        "code": "e"
      }

    ],
    "main_url": "http://localhost:9000/main.html",
    "product": {
      "id": 4,
      "artistId": 5579,
      "artistName": "陆小强",
      "artistImg": "https://cdn.fangcun.com/upload/images/2017-10-26/d3c767e6e35e46e4a2e61c1c3a0e309f.jpg!750",
      "artistTitle": "中青年陶艺家",
      "artistIntro": "陆小强(晓强)，1967年出生于宜兴丁蜀陶艺世家，中青年陶艺家。1984年进紫砂工艺厂，师从江苏省工艺美术大师蒋小彦。1992年到中央工艺美术学院紫砂造型设计班进修。所制作品构思新颖，独树一帜，擅长在素器上雕、捏塑、嵌，制作精致、细腻，形象逼真，观后大呼惊叹，不可思议，在国内外市场很受欢迎。多件作品被国内博物馆所收藏。",
      "images": [
        "https://cdn.fangcun.com/upload/images/2017-11-22/5c35992a91ab4d69b1a03f78fe478a85.png!750"
      ],
      "name": "websocket测试",
      "subTitle": "websocket测试websocket测试",
      "defaultImage": "https://cdn.fangcun.com/upload/images/2017-11-22/5c35992a91ab4d69b1a03f78fe478a85.png!750",
      "videoUrl": "",
      "videoImg": "/upload/images/2017-11-22/59fbde503ce046b287eeee2ee1b4f1f3.png",
      "content": "<p>websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试websocket测试<br></p>",
      "materialName": "黄花泥",
      "volume": 500,
      "marketPrice": 500.00,
      "startPrice": 50.00,
      "increasePrice": 10.00,
      "deposit": 50.00,
      "startTime": 151128,
      "endTime": 151197,
      "viewCount": 100,
      "bidCount": 0,
      "bidPrice": 50.00,
      "delaySecond": "10秒/次",
      "status": 2,
      "duration": "192小时",
      "signupId": 0,

      "bidUserName": "12313",
      "bidStatusName": "领先",
      "bidUserHeadPortrait": "",

    },
    "addcart_url": "http://localhost:3000/addcart",
    "buy_url": "http://localhost:9000/buy.html",
  }
</script>
<template id="m_video">
  <div class="m-video-container">
    <div class="video-inner">
      <div v-if="!isVideoLoad" class="play-container" @click="loadVideo()">
        <img :src="poster" class="poster-img" />
        <img src="public/img/mobile/video_play.png" class="poster-play" />
      </div>
      <video class="m-video" :src="url" :id="id" preload="metadata" controls v-else></video>
    </div>
  </div>
</template>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img src="public/img/mobile/logo.png">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/img/mobile/nologin-head.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu1.png">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu3.png">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu4.png">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script type="text/x-template" id="m_swipe">
  <div class="swiper-container" :class="swipeid">
    <div class="swiper-wrapper">
      <slot name="swiper-con"></slot>
    </div>
    <!-- 分页器 -->
    <div :class="{'swiper-pagination':pagination}"></div>
  </div>
</script>
<script src="public/js/mobile/head.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/swiper.js"></script>
<script src="public/js/mobile/auction_detail.js"></script>
</body>
</html>
