<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="buy-container" id="buy_address" v-cloak>
<ul class="address-choose-list">
  <li v-for="(item, index) in address" @click="choose(item)">
    <div class="item-container">
      <div class="info">
        <span>{{ item.name }}</span>
        <span class="phone">{{ item.cellPhone }}</span>
      </div>
      <div class="addr"><span class="default-addr" v-if="item.isDefault == 1">[默认地址]</span>{{ addressStr(item) }}</div>
    </div>
  </li>
</ul>
  <no-data v-if="nodata"></no-data>
  <img src="public/images/img_loader_s.gif" class="list-loader" v-if="listloading">
  <div class="address-btn">
    <a href="buy_address_opt.html">管理</a>
  </div>
<pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script>
  var config = {
    "chooseAddrUrl": "http://localhost:3000/chooseAddr",
    "address": [
      {
          "id": 0,    /* 地址 id */
          "name": "用户名",
          "cellPhone": 1383838388,
          "province": "上海市",
          "cityId": "上海市",
          "townId": "静安区",
          "address": "xxx街道xx号",
          "isDefault": 1    /* 1是默认，0不是默认 */
      },
      {
        "id": 1,    /* 地址 id */
        "name": "用户名",
        "cellPhone": 1383838388,
        "province": "北京市",
        "cityId": "北京市",
        "townId": "朝阳区",
        "address": "xxx街道xx号",
        "isDefault": 0    /* 1是默认，0不是默认 */
      },
      {
        "id": 2,    /* 地址 id */
        "name": "用户名",
        "cellPhone": 1383838388,
        "province": "湖南省",
        "cityId": "长沙市",
        "townId": "开福区",
        "address": "xxx街道xx号",
        "isDefault": 0    /* 1是默认，0不是默认 */
      },
    ]
  }
</script>
<script src="public/scripts/buy_address_choose.js"></script>
</body>
</html>
