<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="buy-container" id="buy_address" v-cloak>
    <div class="line">
      <div class="left">省份</div>
      <div class="right">
        <div class="citiesLinkage">
          <select class="provinces" v-model="province">
            <option v-for="(item,key) in provincesName" :value="key">{{item}}</option>
          </select>
          <select class="citys" v-model="city">
            <option v-for="(item,key) in citysName" :value="key">{{item}}</option>
          </select>
          <select class="countys" v-model="county">
            <option v-for="(item,key) in countysName" :value="key">{{item}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="left">城市</div>
      <div class="right">
        <select></select>
      </div>
    </div>
    <div class="line">
      <div class="left">区域</div>
      <div class="right">
        <select></select>
      </div>
    </div>
    <div class="line">
      <textarea class="textarea" placeholder="请填写详细地址，不少于5个字"></textarea>
    </div>
  </div>
</div>
<script src="public/scripts/vue.js"></script>
<script src="buy_address_opt______addr.js"></script>
<script>
  let app = new Vue(
    {
      computed:{
        provincesName:function(){
          var provinceName={};
          for(var i in addrobj){
            provinceName[i]=addrname[i];
          }
          return provinceName
        },
        citysName:function(){
          var cityName={};
          for(var i in addrobj[this.province]){
            cityName[i]=addrname[i]
          }
          return cityName
        },
        countysName:function(){
          var countyName={};
          for(var i in addrobj[this.province][this.city]){
            var county=addrobj[this.province][this.city][i];
            countyName[county]=addrname[county]
          }
          return countyName
        },
      },
      watch:{
        'province':function(n,o){
          if(n!=o) this.city=Object.getOwnPropertyNames(this.citysName)[0];
        },
        'city':function(n,o){
          if(n!=o) this.county=Object.getOwnPropertyNames(this.countysName)[0];
        }
      },
      data () {
        return {
          province:10,
          city:20,
          county:31
        }
      },
    }
  ).$mount('#buy_address');
</script>
</body>
</html>
