<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>demo</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="public/styles/main.css">
  <!-- endbuild -->
</head>
<body>
<div class="cart-container" id="cart">
  <form id="cart-form">
    <ul class="cart-list">
      <li class="cart-item" v-for="(item, index) in pro_list">
        <label class="chk col">
          <input type="checkbox" name="chk-items" class="chk-items" v-model="ischeck">
        </label>
        <a href="javascript:;" class="product col">
          <span class="pro-item pro-img">
            <img :src="item.pro_img">
          </span>
          <span class="pro-item pro-t">
            <span class="t">
              <span class="title overText">{{ item.name }}</span>
              <span class="spec">规格: {{ item.spec.spec_name }}</span>
              <span class="price">￥{{ item.price }}<del>￥{{ item.del_price }}</del></span>
            </span>
          </span>
        </a>
        <div class="num-container col">
          <num :num="item.num" :stock_num="item.stock_num"></num>
        </div>
      </li>
    </ul>
    <section class="guess-container">
      <div class="title">猜你喜欢</div>
      <ul class="guess clearfix">
        <li>
          <a href="javascript:;" class="guess-link">
            <img src="public/images/resource/pro01.png">
          </a>
          <div class="v-title">《鹧鸪鹈鹕》</div>
          <div class="v-price">￥122343</div>
        </li>
        <li>
          <a href="javascript:;" class="guess-link">
            <img src="public/images/resource/pro01.png">
          </a>
          <div class="v-title">《鹧鸪鹈鹕》</div>
          <div class="v-price">￥122343</div>
        </li>
        <li>
          <a href="javascript:;" class="guess-link">
            <img src="public/images/resource/pro01.png">
          </a>
          <div class="v-title">《鹧鸪鹈鹕》</div>
          <div class="v-price">￥122343</div>
        </li>
        <li>
          <a href="javascript:;" class="guess-link">
            <img src="public/images/resource/pro01.png">
          </a>
          <div class="v-title">《鹧鸪鹈鹕》</div>
          <div class="v-price">￥122343</div>
        </li>
      </ul>
    </section>
    <footer class="foot-container">
      <ul class="nav">
        <li class="choose">
          <div class="chk-container">
            <label for="chooseall" class="text-container">
              <input type="checkbox" id="chooseall" name="chooseall" class="chooseall" v-model="checkAll" @click="chooseall()"><span class="chosen">已选(1)</span>
            </label>
          </div>
        </li>
        <li class="price">￥999999.00</li>
        <li class="buy">
          <a href="javascript:;" @click="buy()">立即购买</a>
        </li>
      </ul>
    </footer>
  </form>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
  </div>
<template id="pop">
  <div class="alet_container">
    <section class="tip_text_container">
      <div class="tip_text">{{ msg }}</div>
    </section>
  </div>
</template>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script src="public/scripts/api/apis.js"></script>
<script>
  var config = {
    "products": [
      {
        "pro_id": 0,
        "pro_img": "public/images/resource/pro01.png",
        "name": "稀有xx段【x瓢】",
        "subTitle": "登堂入室，泰斗顾景舟",
        "status": 1, /* 1为上架，0为下架,下架按钮为灰色 */
        "price": 9900000.00,
        "del_price": "3000.00",
        "spec":
          {
            "spec_id": 0,
            "spec_name": "刻龙"
          },
        "stock_num": 20,
        "num": 5
      },
      {
        "pro_id": 1,
        "pro_img": "public/images/resource/pro01.png",
        "name": "稀有xx段【x瓢】",
        "subTitle": "登堂入室，泰斗顾景舟",
        "status": 1, /* 1为上架，0为下架,下架按钮为灰色 */
        "price": 9900000.00,
        "del_price": "3000.00",
        "spec":
          {
            "spec_id": 0,
            "spec_name": "刻龙"
          },
        "stock_num": 5,
        "num": 5
      },
      {
        "pro_id": 2,
        "pro_img": "public/images/resource/pro01.png",
        "name": "稀有xx段【x瓢】",
        "subTitle": "登堂入室，泰斗顾景舟",
        "status": 1, /* 1为上架，0为下架,下架按钮为灰色 */
        "price": 9900000.00,
        "del_price": "3000.00",
        "spec":
          {
            "spec_id": 0,
            "spec_name": "刻龙"
          },
        "stock_num": 2,
        "num": 1
      }

    ],
    "buy_url": "http://localhost:3000/buy.html"
  };
</script>
<script src="public/scripts/cart.js"></script>
</body>
</html>
