<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="coupon-container" id="coupon" v-cloak>
  <div class="tabs">
    <div class="item" v-for="(item, index) in tabs" :class="{chosen: index===tab_num}" @click="category(index)">
      <a href="javascript:;" class="link">{{ item }}</a>
    </div>
  </div>
  <section class="content">
    <div class="tips">
      <a href="coupon_get.html" class="link">
          <span class="img-container item">
            <img src="public/img/mobile/coupon.png">
          </span>
        <span class="item t">您有<span class="num">{{ couponcount }}</span>张待领取的优惠券哦</span>
        <span class="wei-arrow-right"></span>
      </a>
    </div>
    <div class="list-item" v-for="(item, index) in couponlist">
      <coupons :couponitem="item"></coupons>
    </div>
    <no-data v-if="nodata" :imgurl="'public/img/mobile/no_data.png'" :text="'当前没有相关数据哟~'"></no-data>
    <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
  </section>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<script type="text/x-template" id="coupon_item">
  <div>
    <div class="coupon-item">
      <div class="inner">
        <div class="left" :class="{used: couponitem.auditStatus == 2 || couponitem.auditStatus == 3}">
          <span class="price"><small class="pri-mark">￥</small><span class="p">{{ couponitem.amount }}</span></span>
          <span class="condition">满{{ couponitem.usingType }}元可用</span>
        </div>
        <div class="right">
          <div class="item">{{ couponitem.name }}</div>
          <div class="item">{{ couponitem.typeId == 0 ? "全场通用" : "部分商品" }}</div>
          <div class="line">
            <span class="date">{{ couponitem.startTime }}-{{ couponitem.endTime }}</span>
            <span class="btn" v-if="couponitem.auditStatus == 0">
              <a href="javascript:;" class="use-btn">
                <subpost :txt="'立即使用'" :status="true" :ref="'subpost' + couponitem.id" @callback="sub(couponitem.id)" @before="postBefore"
                         @success="postSuc" @error="postError" @alert="postTip"></subpost>
              </a>
            </span>
          </div>
          <div class="info clearfix">
            <span class="text">详细信息</span>
            <a href="javascript:;" class="pin" :class="{open:show_detail}" @click="showdetail()">
              <img src="public/img/mobile/pin.png">
            </a>
          </div>
        </div>
        <div class="used-bg" v-if="couponitem.auditStatus == 2">
          <img src="public/img/mobile/used.png">
        </div>
        <div class="used-bg" v-if="couponitem.auditStatus == 3">
          <img src="public/img/mobile/overdue.png">
        </div>
      </div>
    </div>
    <div class="slide" :class="{open:show_detail}">
      <ul class="pros clearfix">
        <li v-for="(o, i) in couponitem.goods">
          <a href="javascript:" class="link">
            <img :src="o.defaultImage">
          </a>
        </li>
      </ul>
    </div>
  </div>
</script>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script>
  var config = {
    "couponlistUrl": "http://localhost:3000/couponlist",
    "useUrl": "xxxx",
    "couponlist": [
      {
        "id": 0,
        "name": "限购登堂入室级别紫砂壶",
        "amount": 30,
        "usingType": 100,
        "typeId": 1,     /* >0:部分商品，=0: 全场通用 */
        "startTime": "2017.03.03",
        "endTime": "2017.03.03",
        "auditStatus": 0,     /* 0：未使用，1：使用中，2：已使用，3：已过期 */
        "fullAmount": 231,
        "goods": [
          {
            "defaultImage": "public/img/mobile/resource/pro01.png"
          },
          {
            "defaultImage": "public/img/mobile/resource/pro01.png"
          },
          {
            "defaultImage": "public/img/mobile/resource/pro01.png"
          },
        ],

      },
      {
        "id": 0,
        'name': '限购登堂入室级别紫砂壶',
        'amount': 30,
        'usingType': 100,
        'typeId': 0,     /* >0:部分商品，=0: 全场通用 */
        'startTime': '2017.03.03',
        'endTime': '2017.03.03',
        'auditStatus': 0,     /* 0：未使用，1：使用中，2：已使用，3：已过期 */
        'goods': [
          {
            'defaultImage': 'public/img/mobile/resource/pro01.png'
          },
          {
            'defaultImage': 'public/img/mobile/resource/pro01.png'
          },
          {
            'defaultImage': 'public/img/mobile/resource/pro01.png'
          },
        ],

      },
      {
        "id": 0,
        'name': '限购登堂入室级别紫砂壶',
        'amount': 30,
        'usingType': 100,
        'typeId': 1,     /* >0:部分商品，=0: 全场通用 */
        'startTime': '2017.03.03',
        'endTime': '2017.03.03',
        'auditStatus': 2,     /* 0：未使用，1：使用中，2：已使用，3：已过期 */
        'goods': [
          {
            'defaultImage': 'public/img/mobile/resource/pro01.png'
          },
          {
            'defaultImage': 'public/img/mobile/resource/pro01.png'
          },
          {
            'defaultImage': 'public/img/mobile/resource/pro01.png'
          },
        ],

      },
      {
        "id": 0,
        'name': '限购登堂入室级别紫砂壶',
        'amount': 30,
        'usingType': 100,
        'typeId': 1,     /* >0:部分商品，=0: 全场通用 */
        'startTime': '2017.03.03',
        'endTime': '2017.03.03',
        'auditStatus': 3,     /* 0：未使用，1：使用中，2：已使用，3：已过期 */
        'goods': [],

      },
      {
        "id": 0,
        'name': '限购登堂入室级别紫砂壶',
        'amount': 30,
        'usingType': 100,
        'typeId': 1,     /* >0:部分商品，=0: 全场通用 */
        'startTime': '2017.03.03',
        'endTime': '2017.03.03',
        'auditStatus': 0,     /* 0：未使用，1：使用中，2：已使用，3：已过期 */
        'goods': null,

      }
    ],
    "couponcount": 5

  }
</script>
<script src="public/js/mobile/coupon.js"></script>
</body>
</html>
