<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title></title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="encyclopedias-container" id="encyclopedias" v-cloak>
  <head-top></head-top>
  <section class="nav-bar">
    <ul>
      <li class="item" v-for="(item, index) in tabs" :class="{chosen: index===tab_num}" @click="linkTo(index)">
        <a href="javascript:;">
          {{ item }}
        </a>
      </li>
    </ul>
    <m-search @subsearch="subsearch" :dat="list" :sid="'up'"></m-search>
  </section>
  <section class="list">
    <div class="tab-list">
      <m-swipe swipeid="swipe" ref="swiper" :autoplay="0" effect="slide" v-if="(list && list.length > 0)">
        <div v-for="(item, index) in list" class="swiper-slide inner-container" :key="index" slot="swiper-con">
          <div class="items" v-for="(i_item, i_index) in item" :key="i_index">
            <a href="javascript:;" class="link">
              <img :src="i_item.image">
              <span>{{ i_item.name }}</span>
            </a>
          </div>
        </div>
      </m-swipe>
      <no-data v-if="nodata"></no-data>
      <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
    </div>
  </section>
  <section class="nav-bar">
    <ul>
      <li class="item chosen">
        <a href="javascript:;">泥料</a>
      </li>
    </ul>
    <m-search @subsearch="subsearch" :dat="list_t" :sid="'down'"></m-search>
  </section>
  <section class="list">
    <div class="tab-list down">
      <m-swipe swipeid="swipet" ref="swipert" :autoplay="0" effect="slide" v-if="list_t && list_t.length > 0">
        <div v-for="(item, index) in list_t" class="swiper-slide inner-container" :key="index" slot="swiper-con">
          <div class="items" v-for="(i_item, i_index) in item" :key="i_index">
            <a href="javascript:;" class="link overText">{{ i_item.name }}</a>
          </div>
        </div>
      </m-swipe>
      <no-data v-if="nodata_t"></no-data>
      <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading_t">
    </div>
  </section>
  <section class="nav-bar">
    <ul>
      <li class="item chosen">
        <a href="javascript:;">术语</a>
      </li>
    </ul>
    <m-search @subsearch="subsearch" :dat="list_term" :sid="'term'"></m-search>
  </section>
  <section class="list">
    <div class="tab-list down last">
      <m-swipe swipeid="swipeterm" ref="swiperterm" :autoplay="0" effect="slide" v-if="list_term && list_term.length > 0">
        <div v-for="(item, index) in list_term" class="swiper-slide inner-container" :key="index" slot="swiper-con">
          <div class="items" v-for="(i_item, i_index) in item" :key="i_index">
            <a href="javascript:;" class="link overText">{{ i_item.name }}</a>
          </div>
        </div>
      </m-swipe>
      <no-data v-if="nodata_term"></no-data>
      <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading_term">
    </div>
  </section>
  <div class="copyright-container">
    <div class="info">
      Copyright&nbsp;&copy;&nbsp;2017&nbsp;,fangcuntang&nbsp;Co.,Ltd.All&nbsp;Rights&nbsp;Reserved.<br>
      宜兴方寸堂文化传媒有限公司&ensp;|&ensp;<a href="" class="law">法律声明</a><br>
      <span class="bottom">沪ICP备12022967号-1&nbsp;沪公网安备11010502025474</span>
    </div>
  </div>
  </div>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/apis.js"></script>
<script src="public/scripts/api/index.js"></script>
<script>
  var config = {
    "search_url": "asdfsd",
    "productsType": [
      {
        "name": "全部",
        "code": "a"
      },
      {
        "name": "圆器",
        "code": "b"
      },
      {
        "name": "方器",
        "code": "c"
      },
      {
        "name": "花器",
        "code": "d"
      },
      {
        "name": "筋纹器",
        "code": "e"
      }

    ],
    "main_url": "http://localhost:9000/main.html",
    "index": "index.html",
    "login": "login.html",
    "wikiCategories": [
        {
      "subList": [
        {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/ea2ecd8f89104a4a95c253391c325d2b.jpg!120",
          "name": "半月",
          "id": 28
        },
        {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/7f7dc0d943a642deb24b0c800fde88c5.jpg!120",
          "name": "西施",
          "id": 24
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/366fcdfe903a4a769df38f025275f0d4.jpg!120",
          "name": "石瓢",
          "id": 29
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 30
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 31
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 32
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 33
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 34
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 35
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 36
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 37
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 38
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 39
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 40
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 41
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 42
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 43
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 44
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 45
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 46
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 47
        }, {
          "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-14\/dbe7d5257509410b9150973583901009.jpg!120",
          "name": "仿古",
          "id": 48
        }
        ], "name": "圆器", "id": 23
    }, {
      "subList": [
          {
        "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-01\/df8346f53a6b4297ac3bfe220e06d199.png!120",
        "name": "八方",
        "id": 25
      }
      ], "name": "方器", "id": 22
    },
      {"subList": [], "name": "花器", "id": 26},
      {"subList": [], "name": "筋纹器", "id": 27}
      ],
    "materials": [
        {"name": "原矿底槽青", "id": 25}, {"name": "原矿清水泥", "id": 24}, {
      "name": "原矿底槽青",
      "id": 23
    }, {"name": "原矿清水泥", "id": 22}, {"name": "原矿底槽青", "id": 21}, {"name": "原矿清水泥", "id": 20}, {
      "name": "原矿底槽青",
      "id": 19
    }, {"name": "原矿清水泥", "id": 18}, {"name": "原矿底槽青", "id": 17}, {"name": "原矿清水泥", "id": 16}, {
      "name": "原矿底槽青",
      "id": 15
    }, {"name": "原矿清水泥", "id": 14}, {"name": "原矿底槽青", "id": 13}, {"name": "原矿清水泥", "id": 12}, {
      "name": "原矿底槽青",
      "id": 11
    }, {"name": "原矿清水泥", "id": 10}, {"name": "原矿底槽青", "id": 9}, {"name": "原矿清水泥", "id": 8}, {
      "name": "原矿底槽青",
      "id": 7
    }, {"name": "原矿清水泥", "id": 6}, {"name": "原矿底槽青", "id": 5}, {"name": "原矿清水泥", "id": 4}
    ],
    "term": [
      {"name": "原矿底槽青", "id": 25}, {"name": "原矿清水泥", "id": 24}, {
        "name": "原矿底槽青",
        "id": 23
      }, {"name": "原矿清水泥", "id": 22}, {"name": "原矿底槽青", "id": 21}, {"name": "原矿清水泥", "id": 20}, {
        "name": "原矿底槽青",
        "id": 19
      }, {"name": "原矿清水泥", "id": 18}, {"name": "原矿底槽青", "id": 17}, {"name": "原矿清水泥", "id": 16}, {
        "name": "原矿底槽青",
        "id": 15
      }, {"name": "原矿清水泥", "id": 14}, {"name": "原矿底槽青", "id": 13}, {"name": "原矿清水泥", "id": 12}, {
        "name": "原矿底槽青",
        "id": 11
      }, {"name": "原矿清水泥", "id": 10}, {"name": "原矿底槽青", "id": 9}, {"name": "原矿清水泥", "id": 8}, {
        "name": "原矿底槽青",
        "id": 7
      }, {"name": "原矿清水泥", "id": 6}, {"name": "原矿底槽青", "id": 5}, {"name": "原矿清水泥", "id": 4}
    ],
  }
</script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img :src="img_url + '/logo.png'">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/img/mobile/nologin-head.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu1.png">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu3.png">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu4.png">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script src="public/scripts/head.js"></script>
<script src="public/scripts/swiper.js"></script>
<script src="public/scripts/common/tools.js"></script>
<script type="text/x-template" id="m_swipe">
  <div class="swiper-container tab-container" :class="swipeid">
    <div class="swiper-wrapper">
      <slot name="swiper-con"></slot>
    </div>
    <!-- 分页器 -->
    <div :class="{'swiper-pagination':pagination}"></div>
  </div>
</script>
<template id="info">
  <div class="alet_container">
    <section class="ency-container">
      <img :src="msg.img" class="photo">
      <p class="title">{{ msg.name }}</p>
      <p class="text">{{ msg.text }}</p>
      <a href="javascript:;" class="close" @click="close()"></a>
    </section>
  </div>
</template>
<template id="search">
  <div class="search-container" :class="{show:show_search}">
    <div class="cancel-search">
      <a href="javascript:;" class="fork" @click="search(0)">取消</a>
    </div>
    <input type="search" class="search-input" :placeholder="placeholder" v-model="keywords">
    <a href="javascript:;" class="search-link" @click="search(1)">
      <i class="fa fa-search"></i>
    </a>
  </div>
</template>
<script src="public/scripts/encyclopedias.js"></script>
</body>
</html>
