<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title></title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="encyclopedias-container" id="encyclopedias" v-cloak>
  <head-top></head-top>
  <section class="nav-bar">
    <ul>
      <li class="item" v-for="(item, index) in tabs" :class="{chosen: index===tab_num}" @click="linkTo(index)">
        <a href="javascript:;">
          {{ item }}
        </a>
      </li>
    </ul>
    <!--<div class="search-container" :class="{show:show_search}">-->
      <!--<div class="cancel-search">-->
        <!--<a href="javascript:;" class="fork" @click="search(0)">取消</a>-->
      <!--</div>-->
      <!--<input type="search" class="search-input">-->
      <!--<a href="javascript:;" class="search-link" @click="search(0)">-->
        <!--<i class="fa fa-search"></i>-->
      <!--</a>-->
    <!--</div>-->
    <m-search  @subSearch="subSearch"></m-search>
  </section>
  <section class="list">
    <div class="tab-list">
      <m-swipe swipeid="swipe" ref="swiper" :autoplay="0" effect="slide">
        <div v-for="(item, index) in list" class="swiper-slide inner-container" :key="index" slot="swiper-con">
          <div class="items" v-for="(i_item, i_index) in item" :key="i_index">
            <a href="javascript:;" class="link">
              <img :src="i_item.image">
              <span>{{ i_item.name }}</span>
            </a>
          </div>
        </div>
      </m-swipe>
    </div>
  </section>
  <section class="nav-bar">
    <ul>
      <li class="item chosen">
        <a href="javascript:;">泥料</a>
      </li>
    </ul>
<!--    <div class="search-container" :class="{show:show_search_d}">
      <div class="cancel-search">
        <a href="javascript:;" class="fork" @click="search(1)">取消</a>
      </div>
      <input type="search" class="search-input">
      <a href="javascript:;" class="search-link" @click="search(1)">
        <i class="fa fa-search"></i>
      </a>
    </div>-->
    <m-search  @subSearch="subSearch"></m-search>
  </section>
  <section class="list">
    <div class="tab-list down">
      <m-swipe swipeid="swipet" ref="swipert" :autoplay="0" effect="slide">
        <div v-for="(item, index) in list_t" class="swiper-slide inner-container" :key="index" slot="swiper-con">
          <div class="items" v-for="(i_item, i_index) in item" :key="i_index">
            <a href="javascript:;" class="link overText">{{ i_item.name }}</a>
          </div>
        </div>
      </m-swipe>
    </div>
  </section>
  <div class="copyright-container">
    <div class="info">
      Copyright&nbsp;&copy;&nbsp;2017&nbsp;,fangcuntang&nbsp;Co.,Ltd.All&nbsp;Rights&nbsp;Reserved.<br>
      宜兴方寸堂文化传媒有限公司&ensp;|&ensp;<a href="" class="law">法律声明</a><br>
      <span class="bottom">沪ICP备12022967号-1&nbsp;沪公网安备11010502025474</span>
    </div>
  </div>
  <info v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></info>
  </div>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/apis.js"></script>
<script src="public/scripts/api/index.js"></script>
<script>
  var config = {
    "search_url": "asdfsd",
    "productsType": [
      {
        "name": "全部",
        "code": "a"
      },
      {
        "name": "圆器",
        "code": "b"
      },
      {
        "name": "方器",
        "code": "c"
      },
      {
        "name": "花器",
        "code": "d"
      },
      {
        "name": "筋纹器",
        "code": "e"
      }

    ],
    "main_url": "http://localhost:9000/main.html",
    "index": "index.html",
    "login": "login.html",
    "wikiCategories":
      [
        {
          "subList":
            [
              {
                "image":"public/images/category1.png",
                "name":"aaaaa",
                "id":22
              },
              {
                "image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png",
                "name":"bbbbb",
                "id":22
              },
              {
                "image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png",
                "name":"ccccc",
                "id":22
              },
              {
                "image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png",
                "name":"ddddd",
                "id":22
              },
              {
                "image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png",
                "name":"ddd",
                "id":22
              },
              {
                "image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png",
                "name":"ttttt",
                "id":22
              },
              {
                "image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png",
                "name":"dfgsg",
                "id":22
              },
              {
                "image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png",
                "name":"iopip",
                "id":22
              },
              {
                "image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-12\/88992fa5712e4e219eb1dc39165ea2c8.png",
                "name":"xzxczxc",
                "id":23
              }
            ],
          "name":"方器",
          "id":22
        },
        {
          "subList":
            [
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-09\/9027f77894a041cd98eeb8e0aed0e5ec.png","name":"方器","id":22},
              {"image":"http:\/\/fct-nick.img-cn-shanghai.aliyuncs.com\/upload\/2017-06-12\/88992fa5712e4e219eb1dc39165ea2c8.png","name":"圆器","id":23}
            ],
          "name":"圆器",
          "id":23
        }
      ],
    "materials": [{"name":"等各方面大法官告诉对方介","id":4}],

  }
</script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img :src="img_url + '/logo.png'">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/images/resource/emptyPhoto.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu1.png">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu3.png">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu4.png">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script src="public/scripts/head.js"></script>
<script src="public/scripts/swiper.js"></script>
<script src="public/scripts/common/tools.js"></script>
<script type="text/x-template" id="m_swipe">
  <div class="swiper-container tab-container" :class="swipeid">
    <div class="swiper-wrapper">
      <slot name="swiper-con"></slot>
    </div>
    <!-- 分页器 -->
    <div :class="{'swiper-pagination':pagination}"></div>
  </div>
</script>
<template id="info">
  <div class="alet_container">
    <section class="ency-container">
      <img :src="msg.img" class="photo">
      <p class="title">{{ msg.name }}</p>
      <p class="text">{{ msg.text }}</p>
      <a href="javascript:;" class="close" @click="close()"></a>
    </section>
  </div>
</template>
<template id="search">
  <div class="search-container" :class="{show:show_search}">
    <div class="cancel-search">
      <a href="javascript:;" class="fork" @click="search(0)">取消</a>
    </div>
    <input type="search" class="search-input" :placeholder="placeholder" v-model="keywords">
    <a href="javascript:;" class="search-link" @click="search(1)">
      <i class="fa fa-search"></i>
    </a>
  </div>
</template>
<script src="public/scripts/encyclopedias.js"></script>
</body>
</html>
