<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="./../public/styles/main.css">
</head>
<body>
<div class="help-container" id="help" v-cloak>
  <router-view></router-view>
</div>
<template id="articlecate">
  <section class="user-sec">
    <div class="search-container">
      <a href="javascript:;" class="inner" @click="pop()">
        <i class="fa fa-search"></i>&nbsp;请输入问题关键词
      </a>
      <div class="bg" :class="{show: show}" @click.prevent="pop()">
        <div class="search-box"  @click.stop="">
          <div class="inner clearfix">
            <a href="javascript:;" class="search" @click="search()">
              <i class="fa fa-search"></i>
            </a>
            <input type="text" v-focus="" placeholder="请输入问题关键词" class="keywords" v-model="keywords">
            <a href="javascript:;" class="fork-link" @click="clear()" v-if="keywords !== ''">
              <i class="fa fa-times-circle"></i>
            </a>
            <a href="javascript:;" @click="pop()" class="cancel">取消</a>
          </div>
        </div>
      </div>
    </div>
    <ul class="funcs-list" v-if="searchlist.length <= 0">
      <li v-for="(item, index) in articleCategories" :class="{br: item.hasBr == 1}">
        <router-link v-if="item.articleId == 0 && item.articles.length > 0"
                     :to="{ name: 'list', query: { id:item.id }}"
                     class="link">
          <span class="img-container item">
            <img :src="item.image">
          </span>
          <span class="item t">{{ item.name }}</span>
          <span class="wei-arrow-right"></span>
        </router-link>
        <router-link v-else :to="{ name: 'detail', query: { articleId: item.articleId }}" class="link">
          <span class="img-container item">
            <img :src="item.image">
          </span>
          <span class="item t">{{ item.name }}</span>
          <span class="wei-arrow-right"></span>
        </router-link>
      </li>
    </ul>
    <ul class="funcs-list" v-else>
      <li v-for="(obj, i) in searchlist">
        <router-link :to="{ name: 'detail', query: { articleId: obj.id }}" class="link">
          <span class="item">{{ obj.title }}</span>
          <span class="wei-arrow-right"></span>
        </router-link>
      </li>
    </ul>
  </section>
</template>
<template id="articlelist">
  <section class="user-sec">
    <ul class="funcs-list">
      <li v-for="(item, index) in articles">
        <router-link :to="{ name: 'detail', query: { articleId: item.id }}" class="link">
          <span class="item">{{ item.name }}</span>
          <span class="wei-arrow-right"></span>
        </router-link>
      </li>
    </ul>
  </section>
</template>
<template id="articledetail">
  <section class="detail-container">
    <div class="service-container">
      <section class="sec">
        <div class="title">{{ article.title }}</div>
        <div v-html="article.content"></div>
        <div class="info">
          自您签收商品之日起30日内，方寸堂将为您办理退换货服务，且寄回商品实际运费由客户承担；如需办理退换货业务，请您致电客服热线400-0510-555咨询办理。
        </div>
        <div class="content">
          <div class="t"><span class="l">政</span>策说明</div>
          <div class="ball"></div>
          1.一张订单方寸堂只为您提供一次退换货服务，为了确保您的权益，请考虑周全后与我们联系。<br>
          2.请您确保退换货时，商品各种包装完整。<br>
          3.因您个人原因造成的商品损坏（如壶身破损等）,不予退换。<br>
          4.由于物品质量问题造成的退换货，由淘壶人承担双程运费。由于个人喜好原因造成退货，由客户支付双程邮费。<br>
          5.退换货发生时，请您选择顺丰快递将商品寄回给我们。<br>
          6、礼包或超值组合装中的商品不可以选择部分退换货，因退货后，原礼包或套装中商品将无法享受购买时优惠。<br>
          7.图片及信息仅供参照，因拍摄灯光及不同显示器色差等问题可能造成商品图片与实物有一定色差，一切以实物为准。色差问题不在退换货服务行列。
        </div>
      </section>
      <section class="sec refuse">
        <div class="title">拒收政策</div>
        <div class="info">
          在您签收商品前，请先核查商品外包装是否完好，并确认您对产品是否满意。
        </div>
        <div class="content">
          <strong class="s-title">无专用封箱胶</strong>
          <div>在收取快递包时，若发现外包装中无“方寸堂”专用封箱胶，或“方寸堂”专用封箱胶被严重损坏(特别是有被重新封装的痕迹)，您可以拒收。</div>
          <strong class="s-title">物品与所购不符</strong>
          <div>签收后，若包装完好但是包裹中的商品数量与您实际购买的商品不吻合时，或所接收的物品与您所购的物品不相符时，请先与快递人员确认，现场拍照；并及时联系我们的客服，我们在与快递公司确认后，将及时为您补发/换发所缺商品。</div>
          <strong class="s-title">对产品（或部分）不满意</strong>
          <div>若您对某件或某几件商品的质量不满意，您在拒收这些商品的同时，可正常接收其它商品，对于其它不满意的商品可根据您的意愿联系“方寸堂”的客服为您换货或退款。</div>
        </div>
      </section>
      <section class="sec">
        <div class="title">发票问题</div>
        <div class="info">
          方寸堂的所有产品价格均不含税价，所有要求增开发票，需要补7%个税点。补足税点后再予以开票。
        </div>
        <div class="content">
          <div class="t"><span class="l">如</span>何开具发票：</div>
          <div class="ball"></div>
          1.如需开具普通发票，请在交易完成后订单详情里选择“我要开发票”并填写相关信息；<br>
          2.如需开具增值税专用发票，请在购买后联系客服办理；<br>
          3.可选开票内容： 工艺礼品
        </div>
      </section>
    </div>
  </section>
</template>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/vue-router.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script>
  config = {
    "index": "http://dev.fangcuntang.com",
    "login": "http://dev.fangcuntang.com/my",
    "product_url": "http://dev.fangcuntang.com",
    'categoryId': 0,
    'articleId': 0,
    'productsType': [
      {"name": "全部", "code": ""},
      {"code": ",23,", "name": "圆器"},
      {"code": ",22,","name": "方器"},
      {"code": ",26,", "name": "花器"},
      {"code": ",27,", "name": "筋纹器"}
      ],
    'articleCategories': [
        {
        "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-18\/cdd5c948c19c4aba820a5cae40c728f5.png!120",
        "name": "常见问题",
        "articleId": 3,
        "id": 5,
        "hasBr": 0,
        "articles": []
        },
        {
        "image": "https:\/\/cdn.fangcun.com\/upload\/images\/2017-08-23\/c2948475b40345cfa8b54938df8737a9.png!120",
        "name": "配送与验收",
        "articleId": 0,
        "id": 6,
        "hasBr": 0,
        "articles": [{"name": "发货时间", "id": 4}, {"name": "配送范围及费用", "id": 5}]
        }
    ],
    'articles': [
        {
      "id": 3,
      "title": "常见问题",
      "content": "<h4><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap; font-weight: bold;\">1.方寸堂的商品都是正品吗?<\/span><\/h4><p><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\">方寸堂秉承严谨态度,&nbsp;对商品的产地、工艺、原材料都严格把关,&nbsp;力求帮消费者甄选到最优质的商品,&nbsp;你可以放心选购。<\/span><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\"><br><\/span><\/p><h4><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\">2.方寸堂用什么快递?<\/span><\/h4><p><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\">一般情况下,&nbsp;我们采用顺丰快递,&nbsp;部分地区&nbsp;(内蒙古&nbsp;(除包头市)&nbsp;,&nbsp;湖北,&nbsp;西藏)&nbsp;包裹可能使用EMS快递,&nbsp;暂不支持自选快递。<\/span><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\"><br><\/span><\/p>"
    }, {
      "id": 4,
      "title": "发货时间",
      "content": "<p><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\">我们会在订单支付成功后1-3天内发货&nbsp;(节假日顺延,&nbsp;部分特殊商品七天内发货)&nbsp;,&nbsp;送达时间视快递配送时间而定。<\/span><br><\/p><p><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\">由于商品存放仓库位置不同,&nbsp;一个订单中的商品可能会被拆分为多个包裹配送。不同的包裹配送时间会略有不同。<\/span><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\"><br><\/span><\/p>"
    }, {
      "id": 5,
      "title": "配送范围及费用",
      "content": "<p><span style=\"color: rgb(34, 34, 34); font-family: Menlo, monospace; white-space: pre-wrap;\">方寸堂配送范围覆盖全国大部分地区&nbsp;(部分商品不支持配送港澳台地区)&nbsp;； 其中部分商品也支持海外国家地区配送&nbsp;(欧盟主要国家和日韩)&nbsp;，详细支持配送海外地区见商品详情页服务中说明。<\/span><br><\/p>"
    }],
  }
</script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/help.js"></script>
</body>
</html>
