<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="public/styles/main.css">
  <!-- endbuild -->
</head>
<body>
<div class="entry-container" id="entry" v-cloak>
  <section class="search-container">
    <div class="inner">
      <div class="item search">
        <a href="javascript:;" class="search-link" @click="subSearch">
          <i class="fa fa-search"></i>
        </a>
        <input type="search" class="search-input" placeholder="宝贝名称" v-model="search">
        <a href="javascript:;" class="fork-link" @click="clear">
          <i class="fa fa-times-circle"></i>
        </a>
      </div>
      <div class="item cart">
        <a href="javascript:;" class="link">
          <img src="public/img/mobile/cart_b.png">
          <span class="nums">{{ index_data.cartProductCount }}</span>
        </a>
      </div>
    </div>
  </section>
  <section class="banner">
    <m-swipe swipeid="swipe" ref="banner" :autoplay="0">
      <div v-for="(top, index) in banners" class="swiper-slide" slot="swiper-con">
        <a :href="top.webUrl" class="link">
          <span class="img-con">
            <img :data-src="top.image" class="swiper-lazy silde-img">
          </span>
        </a>
      </div>
    </m-swipe>
    <div class="service">
      <div class="items">
        <img src="public/img/mobile/items.png">100%原人手制
      </div>
      <div class="items">
        <img src="public/img/mobile/items.png">限量发行
      </div>
      <div class="items">
        <img src="public/img/mobile/items.png">永久保值换购
      </div>
    </div>
  </section>
  <section class="trance">
    <div class="inner">
      <a href="javascript:;" class="items">
        <img src="public/img/mobile/index_ma.png"><br>美壶
      </a>
      <a href="javascript:;" class="items">
        <img src="public/img/mobile/index_au.png"><br>拍卖
      </a>
      <a href="javascript:;" class="items">
        <img src="public/img/mobile/index_ar.png"><br>手艺人
      </a>
      <a href="javascript:;" class="items">
        <img src="public/img/mobile/index_en.png"><br>百科
      </a>
    </div>
  </section>
  <section class="presale">
    <m-swipe swipeid="swipeN" ref="presale" :autoplay="0" :pagination="preSales.length>1" pagination-type="custom">
      <div v-for="(item, index) in preSales" class="swiper-slide" slot="swiper-con">
        <a href="javascript:;" class="content">
          <div class="left">
            <div class="title"><img src="public/img/mobile/pre_sale.png"><span class="t">预售宝贝</span></div>
            <div class="text">距离{{ item.status === 0 ? '开始': '结束'}}时间</div>
            <div class="time"><m-time :end-time="item.discountTime" :callback="end"></m-time></div>
            <div class="tip">{{ item.advanceSaleDays }}天后发货</div>
          </div>
          <div class="right">
            <img :src="item.defaultImage">
            <div class="t"><span class="s">限额{{ item.singleCount }}位</span></div>
          </div>
        </a>
      </div>
    </m-swipe>
  </section>
  <section class="auction">
    <div class="title">拍卖<a href="javascript:;" class="link">更多&nbsp;<span class="arr"></span></a></div>
    <div class="content">
      <div class="fir">
        <a href="javascript:;" class="link">
          <img :src="auctions[0].defaultImage">
        </a>
        <div class="sta">
          <div class="item left" :class="{gray:auctions[0].status==0, red:auctions[0].status!==0}">{{ auctions[0].statusName }}</div>
          <div class="item right">{{ auctions[0].bidCount }}次出价</div>
        </div>
      </div>
      <div class="others">
        <ul class="ul clearfix">
          <li class="pro-item" v-for="(item, index) in auctions_data">
            <a href="javascript:;" class="link">
              <img :src="item.defaultImage">
              <span class="sta">
                <span class="item left" :class="{gray:item.status==0, red:item.status!==0}">{{ item.statusName }}</span>
                <span class="item right">{{ item.bidCount }}次出价</span>
              </span>
            </a>
            <div class="detail">
              <div class="info">{{ item.name }}</div>
              <div class="time">结拍时间:&nbsp;{{ item.auctionTime }}</div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>
  <section class="artist">
    <div class="title">守艺人</div>
    <div class="art-list">
      <div class="line des">
        <div class="inner">
          <div class="comma">
            <img src="public/img/mobile/comma_l.png"><span class="text">30+位匠人入驻</span><img src="public/img/mobile/comma_r.png">
          </div>
          <div>心手相通<br>载大道与咫尺之器</div>
        </div>
      </div>
      <div class="line" v-for="(item, index) in artists">
        <div class="inner">
          <a href="javascript:;" class="link">
            <img :src="item.defaultImage" class="photo">
          </a>
        </div>
      </div>

    </div>
  </section>
  <section class="recommend">
    <div class="title">精选推荐<a href="javascript:;" class="link">更多&nbsp;<span class="arr"></span></a></div>
    <div class="rec-list">
      <div class="line" v-for="(item, index) in recommends">
        <div class="inner">
          <a href="javascript:;" class="link">
            <img :src="item.defaultImage" class="pro-img">
            <span class="pro-title overText">{{ item.name }}</span>
            <span class="pro-price"><small>￥</small>{{ item.price }}<del class="del"><small>￥</small>740</del></span>
            <span class="pro-mark">
              <small class="marks" :class="'mark-' + i" v-for="(i, index) in item.tags">{{ tagN[i] }}</small>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="inner">
      <a href="javascript:;" class="link">
        <img src="public/img/mobile/i_home_d.png"><br>首页
      </a>
      <a href="javascript:;" class="link">
        <img src="public/img/mobile/i_service_g.png"><br>消息
      </a>
      <a href="javascript:;" class="link">
        <img src="public/img/mobile/i_account_g.png"><br>我的
      </a>
    </div>
  </footer>
  <div class="gift-pop" v-if="isADShow">
    <div class="inner">
      <img src="public/img/mobile/gift_show.png">
      <a href="javascript:;" class="link">&nbsp;</a>
      <a href="javascript:;" class="close" @click="closegift()">&nbsp;</a>
    </div>
  </div>
  <a href="javascript:;" class="gift-icon" v-if="!isADShow">
    <img src="public/img/mobile/gift_icon.png">
  </a>
  <transition name="fade">
    <a href="javascript:;" class="top" @click="top()" v-if="showTop">
      <img src="public/img/mobile/top.png">
    </a>
  </transition>
</div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/hammer.js"></script>
<script src="public/js/mobile/swiper.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img src="public/img/mobile/logo.png">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/img/mobile/nologin-head.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="https://cdn.fangcun.com/static/img/mobile/pm_logo.png">
              <span>拍卖</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu1.png">
              <span>守艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <!--<li class="item">-->
            <!--<a href="javascript:;">-->
              <!--<img src="public/img/mobile/menu3.png">-->
              <!--<span>个性定制</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="item">-->
            <!--<a href="javascript:;">-->
              <!--<img src="public/img/mobile/menu4.png">-->
              <!--<span>APP下载</span>-->
            <!--</a>-->
          <!--</li>-->
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script type="text/x-template" id="m_swipe">
  <div class="swiper-container" :class="swipeid">
    <div class="swiper-wrapper">
      <slot name="swiper-con"></slot>
    </div>
    <!-- 分页器 -->
    <div :class="{'swiper-pagination':pagination}"></div>
  </div>
</script>
<script>
  var config = {
    "isADShow": true,
    "preSales": [
      {

      },
      {

      },
      {

      }
    ],

    "index_n": {
      "adSwiper" : [
        {
          "image": "https://cdn.fangcun.com/upload/images/2017-11-03/b9f1fb6dc64f4a6f8b71705ac3ef4b56.JPG!750",  //图片地址
          "webUrl": "", //点击链接
          "liteUrl": "",
        },
        {
          "image": "https://cdn.fangcun.com/upload/images/2017-11-03/3dbd43f8a7bf4db99b3c280f3fff6ed6.jpg!750",  //图片地址
          "webUrl": "", //点击链接
          "liteUrl": "",
        },

      ],
      "promotion": [
        {
          "id": "",
          "status": 0,           //0：距离开始时间；1：距离结束时间
          "discountTime": 20,     //倒计时，秒
          "advanceSaleDays": 40,
          "defaultImage": "public/img/mobile/resource/test7.png",
          "singleCount": 10       //限额数量
        },
        {
          "id": "",
          "status": 1,           //0：距离开始时间；1：距离结束时间
          "discountTime": 40,     //倒计时，秒
          "advanceSaleDays": 60,
          "defaultImage": "public/img/mobile/resource/test7.png",
          "singleCount": 20       //限额数量
        }
      ],
      "auction": [
        {
          "id": "",
          "name": "石瓢全手 潘洪均 国工",
          "status": 1,
          "bidCount": 99,
          "auctionTime": "02-03 14:30",
          "statusName": "拍卖中",
          "defaultImage": "https://cdn.fangcun.com/upload/images/2017-11-03/5dff6024149843a9af5ec1803c8e007b.jpg!750"
        },
        {
          "id": "",
          "name": "石瓢全手 潘洪均 国工",
          "status": 0,
          "bidCount": 34,
          "auctionTime": "02-03 14:30",
          "statusName": "拍卖预告",
          "defaultImage": "https://cdn.fangcun.com/upload/images/2017-11-03/5dff6024149843a9af5ec1803c8e007b.jpg!750"
        },
        {
          "id": "",
          "name": "石瓢全手 潘洪均 国工",
          "status": 0,
          "bidCount": 67,
          "auctionTime": "02-03 14:30",
          "statusName": "拍卖预告",
          "defaultImage": "https://cdn.fangcun.com/upload/images/2017-11-03/5dff6024149843a9af5ec1803c8e007b.jpg!750"
        },
        {
          "id": "",
          "name": "石瓢全手 潘洪均 国工",
          "status": 0,
          "bidCount": 3,
          "auctionTime": "02-03 14:30",
          "statusName": "拍卖预告",
          "defaultImage": "https://cdn.fangcun.com/upload/images/2017-11-03/5dff6024149843a9af5ec1803c8e007b.jpg!750"
        }
      ],
      "artist":[
        {
          "id": "",
          "name": "",
          "defaultImage": "public/img/mobile/resource/artist1.png"
        },
        {
          "id": "",
          "name": "",
          "defaultImage": "public/img/mobile/resource/artist1.png"
        },
        {
          "id": "",
          "name": "",
          "defaultImage": "public/img/mobile/resource/artist1.png"
        },
        {
          "id": "",
          "name": "",
          "defaultImage": "public/img/mobile/resource/artist1.png"
        }
      ],
      "product": [
        {
          "id": "",
          "name": "松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄",
          "price": "340",
          "defaultImage": "public/img/mobile/resource/test4.png",
          "discountPrice": "",
          "tags":[0]
        },
        {
          "id": "",
          "name": "松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄",
          "price": "340",
          "defaultImage": "public/img/mobile/resource/test4.png",
          "discountPrice": "",
          "tags":[0, 1]
        },
        {
          "id": "",
          "name": "松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄",
          "price": "340",
          "defaultImage": "public/img/mobile/resource/test4.png",
          "discountPrice": "",
          "tags":[1]
        },
        {
          "id": "",
          "name": "松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄松鼠葡萄",
          "price": "340",
          "defaultImage": "public/img/mobile/resource/test4.png",
          "discountPrice": "",
          "tags":[]
        },
      ],
      "tagNames":[
        "爆品",
        "新品上市",
      ],
      "cartProductCount": 6
    },
    "searchUrl": ""

  }
</script>
<script src="public/js/mobile/head.js"></script>
<script src="public/js/mobile/index_n.js"></script>
</body>
</html>
