<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="public/styles/main.css">
  <!-- endbuild -->
</head>
<body>
<div id="main">
  <div class="main-container">
    <head-top @changelist="getprolist" :isindex="isindex"></head-top>
    <section class="cat-container">
      <ul class="category clearfix">
        <li class="item" v-for="(ranks, index) in ranks_list" @click="getprolist('', ranks.level_id)">
          <img :src= "ranks.img">
          <span>{{ ranks.name }}</span>
        </li>
      </ul>
    </section>
    <div class="prolist-container">
      <ul class="prolist" v-if="pro_list.length">
        <li class="item" v-for="item in pro_list">
          <a href="javascript:;">
            <span class="pro-main">
              <img :src="item.default_pic">
            </span>
            <span class="title">{{ item.title }}</span>
            <span class="description">{{ item.description }}</span>
            <span class="pro-lists">
              <span class="imgs" v-for="items in item.pics">
                <img :src="items">
              </span>
            </span>
              <span class="ops">
              <img src="public/images/clickAmount.png"><span>{{ item.clickAmount }}</span>
              <img src="public/images/saleAmount.png"><span>{{ item.saleAmount }}</span>
            </span>
          </a>
        </li>
      </ul>
      <ul class="prolist" v-else>
        <li class="noData">
          没有数据......
        </li>
      </ul>
    </div>
    <div class="copyright-container">
      <div class="info">
        Copyright&nbsp;&copy;&nbsp;2017&nbsp;,fangcuntang&nbsp;Co.,Ltd.All&nbsp;Rights&nbsp;Reserved.<br>
        宜兴方寸堂文化传媒有限公司&ensp;|&ensp;<a href="" class="law">法律声明</a><br>
        <span class="bottom">沪ICP备12022967号-1&nbsp;沪公网安备11010502025474</span>
      </div>
    </div>
  </div>
</div>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/common/tools.js"></script>
<script src="public/scripts/api/index.js"></script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img :src="img_url + '/logo.png'">
      </li>
      <li class="user" @click="toLogin()">
        <i class="fa fa-user-circle-o"></i>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu1.png">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu3.png">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu4.png">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/images/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script>
  var config = {
    "productsType": [
      {
        "name": "全部",
        "code": "a"
      },
      {
        "name": "圆器",
        "code": "b"
      },
      {
        "name": "方器",
        "code": "c"
      },
      {
        "name": "花器",
        "code": "d"
      },
      {
        "name": "筋纹器",
        "code": "e"
      }

    ],
    "productsRank": [
      {
        "name": "登堂入室",
        "level_id": "0",
        "img": "xxxx"
      },
      {
        "name": "略有小成",
        "level_id": "1",
        "img": "xxxx"
      },
      {
        "name": "炉火纯青",
        "level_id": "2",
        "img": "xxxx"
      },
      {
        "name": "出神入化",
        "level_id": "3",
        "img": "xxxx"
      },
      {
        "name": "登峰造极",
        "level_id": "4",
        "img": "xxxx"
      }

    ],
    "products": [
      {
        "id": 0,
        "code": 1,
        "level_id": 0,
        "name": "束云茶叶罐001",
        "artist": "李某某001",
        "title": "【精雕细刻】束云茶叶罐001",
        "description": "描述文字。。。。。001。",
        "default_pic": "/public/images/resource/imgs.png",
        "pics": [
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png"
        ],
        "clickAmount": 99999999,
        "saleAmount": 11111111
      },
      {
        "id": 1,
        "code": 1,
        "level_id": 1,
        "name": "束云茶叶罐001",
        "artist": "李某某001",
        "title": "【精雕细刻】束云茶叶罐001",
        "description": "描述文字。。。。。001。",
        "default_pic": "/public/images/resource/imgs.png",
        "pics": [
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png"
        ],
        "clickAmount": 99999999,
        "saleAmount": 11111111
      },
      {
        "id": 2,
        "code": 2,
        "level_id": 2,
        "name": "束云茶叶罐001",
        "artist": "李某某001",
        "title": "【精雕细刻】束云茶叶罐001",
        "description": "描述文字。。。。。001。",
        "default_pic": "/public/images/resource/imgs.png",
        "pics": [
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png"
        ],
        "clickAmount": 99999999,
        "saleAmount": 11111111
      },
      {
        "id": 3,
        "code": 3,
        "level_id": 3,
        "name": "束云茶叶罐001",
        "artist": "李某某001",
        "title": "【精雕细刻】束云茶叶罐001",
        "description": "描述文字。。。。。001。",
        "default_pic": "/public/images/resource/imgs.png",
        "pics": [
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png"
        ],
        "clickAmount": 99999999,
        "saleAmount": 11111111
      },
      {
        "id": 4,
        "code": 2,
        "level_id": 4,
        "name": "束云茶叶罐001",
        "artist": "李某某001",
        "title": "【精雕细刻】束云茶叶罐001",
        "description": "描述文字。。。。。001。",
        "default_pic": "/public/images/resource/imgs.png",
        "pics": [
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png"
        ],
        "clickAmount": 99999999,
        "saleAmount": 11111111
      },
      {
        "id": 5,
        "code": 1,
        "level_id": 3,
        "name": "束云茶叶罐001",
        "artist": "李某某001",
        "title": "【精雕细刻】束云茶叶罐001",
        "description": "描述文字。。。。。001。",
        "default_pic": "/public/images/resource/imgs.png",
        "pics": [
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png"
        ],
        "clickAmount": 99999999,
        "saleAmount": 11111111
      },
      {
        "id": 6,
        "code": 3,
        "level_id": 1,
        "name": "束云茶叶罐001",
        "artist": "李某某001",
        "title": "【精雕细刻】束云茶叶罐001",
        "description": "描述文字。。。。。001。",
        "default_pic": "/public/images/resource/imgs.png",
        "pics": [
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png"
        ],
        "clickAmount": 99999999,
        "saleAmount": 11111111
      },
      {
        "id": 7,
        "code": 2,
        "level_id": 2,
        "name": "束云茶叶罐001",
        "artist": "李某某001",
        "title": "【精雕细刻】束云茶叶罐001",
        "description": "描述文字。。。。。001。",
        "default_pic": "/public/images/resource/imgs.png",
        "pics": [
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png",
          "/public/images/resource/imgs.png"
        ],
        "clickAmount": 99999999,
        "saleAmount": 11111111
      },
    ],
    "index": "index.html",
    "login": "login.html",
    "product_url": "http://localhost:3000/products",
    "isindex": true
  }
</script>
<script src="public/scripts/head.js"></script>
<script src="public/scripts/main.js"></script>
</body>
</html>
