<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="public/styles/main.css">
  <!-- endbuild -->
</head>
<body>
<div class="main-container" id="main" v-cloak>
    <head-top @changelist="getprolist" :isindex="isindex"></head-top>
    <section class="cat-container">
      <ul class="category clearfix">
        <li class="item" v-for="(ranks, index) in ranks_list" :class="{chosen: index===tab_num}" @click="getprolist('', ranks.level_id, index)">
          <img :src= "ranks.img">
          <span>{{ ranks.name }}</span>
        </li>
      </ul>
    </section>
    <div class="prolist-container" v-load-more="nextPage" type="1">
      <ul class="prolist" v-if="pro_list.length">
        <li class="item" v-for="item in pro_list">
          <a href="javascript:;">
            <span class="pro-main">
              <img v-view="item.default_pic" src="public/img/mobile/img_loader.gif">
            </span>
            <span class="title">{{ item.title }}</span>
            <span class="description">{{ item.description }}</span>
            <span class="pro-lists">
              <span class="imgs" v-for="(items, index) in item.pics">
                <img v-view="items" src="public/img/mobile/img_loader.gif">
              </span>
            </span>
            <span class="ops">
              <img src="public/img/mobile/clickAmount.png"><span>{{ item.clickAmount }}</span>
              <img src="public/img/mobile/saleAmount.png"><span>{{ item.saleAmount }}</span>
            </span>
          </a>
        </li>
      </ul>
      <no-data v-if="nodata"></no-data>
      <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
    </div>
    <div class="copyright-container">
      <div class="info">
        Copyright&nbsp;&copy;&nbsp;2017&nbsp;,fangcuntang&nbsp;Co.,Ltd.All&nbsp;Rights&nbsp;Reserved.<br>
        宜兴方寸堂文化传媒有限公司&ensp;|&ensp;<a href="" class="law">法律声明</a><br>
        <span class="bottom">苏公安备32028202000436号 苏ICP备14043090号-4</span>
      </div>
    </div>
  </div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img src="public/img/mobile/logo.png">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/img/mobile/nologin-head.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu1.png">
              <span>守艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <!--<li class="item">-->
            <!--<a href="javascript:;">-->
              <!--<img src="public/img/mobile/menu3.png">-->
              <!--<span>个性定制</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="item">-->
            <!--<a href="javascript:;">-->
              <!--<img src="public/img/mobile/menu4.png">-->
              <!--<span>APP下载</span>-->
            <!--</a>-->
          <!--</li>-->
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script>
  var config = {
    "productsType": [
      {
        "name":"全部",
        "code":""
      },
      {
        "name": "圆器",
        "code": "b"
      },
      {
        "name": "方器",
        "code": "c"
      },
      {
        "name": "花器",
        "code": "d"
      },
      {
        "name": "筋纹器",
        "code": "e"
      }

    ],
    "productsRank": [
      {
        "name": "所有品级",
        "level_id": "0",
        "img": "public/img/mobile/rank_00.png"
      },
      {
        "name": "登堂入室",
        "level_id": "1",
        "img": "public/img/mobile/rank_01.png"
      },
      {
        "name": "略有小成",
        "level_id": "2",
        "img": "public/img/mobile/rank_02.png"
      },
      {
        "name": "炉火纯青",
        "level_id": "3",
        "img": "public/img/mobile/rank_03.png"
      },
      {
        "name": "出神入化",
        "level_id": "4",
        "img": "public/img/mobile/rank_04.png"
      },
      {
        "name": "登峰造极",
        "level_id": "5",
        "img": "public/img/mobile/rank_05.png"
      }

    ],
//    "products": [
//      {
//        "id": 0,
//        "code": 1,
//        "level_id": 0,
//        "name": "束云茶叶罐001",
//        "artist": "李某某001",
//        "title": "【精雕细刻】束云茶叶罐001",
//        "description": "整款器形古朴浑厚，细腻柔和，古韵悠然，壶身扁圆饱满，线条柔和构筑，弯流如意壶嘴，出水爽利，断水干净利落，端握合适，拿捏舒适，壶肩格勒出的线条，一眼看上便觉心清气爽。",
//        "default_pic": "/public/img/mobile/resource/imgs.png",
//        "pics": [
//          "/public/img/mobile/resource/pro01.png",
//          "/public/img/mobile/resource/pro01.png",
//          "/public/img/mobile/resource/pro01.png",
//          "/public/img/mobile/resource/pro01.png"
//        ],
//        "clickAmount": 99999999,
//        "saleAmount": 11111111
//      },
//      {
//        "id": 1,
//        "code": 1,
//        "level_id": 1,
//        "name": "束云茶叶罐001",
//        "artist": "李某某001",
//        "title": "【精雕细刻】束云茶叶罐001",
//        "description": "描述文字。。。。。001。",
//        "default_pic": "/public/img/mobile/resource/pro.png",
//        "pics": [
//          "/public/img/mobile/resource/pro.png",
//          "/public/img/mobile/resource/pro.png",
//          "/public/img/mobile/resource/pro.png",
//          "/public/img/mobile/resource/pro.png"
//        ],
//        "clickAmount": 99999999,
//        "saleAmount": 11111111
//      },
//      {
//        "id": 2,
//        "code": 2,
//        "level_id": 2,
//        "name": "束云茶叶罐001",
//        "artist": "李某某001",
//        "title": "【精雕细刻】束云茶叶罐001",
//        "description": "描述文字。。。。。001。",
//        "default_pic": "/public/img/mobile/resource/pug.png",
//        "pics": [
//          "/public/img/mobile/resource/pug.png",
//          "/public/img/mobile/resource/pug.png",
//          "/public/img/mobile/resource/pug.png",
//          "/public/img/mobile/resource/pug.png"
//        ],
//        "clickAmount": 99999999,
//        "saleAmount": 11111111
//      },
//      {
//        "id": 3,
//        "code": 3,
//        "level_id": 3,
//        "name": "束云茶叶罐001",
//        "artist": "李某某001",
//        "title": "【精雕细刻】束云茶叶罐001",
//        "description": "描述文字。。。。。001。",
//        "default_pic": "/public/img/mobile/resource/pro02.png",
//        "pics": [
//          "/public/img/mobile/resource/pro02.png",
//          "/public/img/mobile/resource/pro02.png",
//          "/public/img/mobile/resource/pro02.png",
//          "/public/img/mobile/resource/pro02.png"
//        ],
//        "clickAmount": 99999999,
//        "saleAmount": 11111111
//      },
//      {
//        "id": 4,
//        "code": 2,
//        "level_id": 4,
//        "name": "束云茶叶罐001",
//        "artist": "李某某001",
//        "title": "【精雕细刻】束云茶叶罐001",
//        "description": "描述文字。。。。。001。",
//        "default_pic": "/public/img/mobile/resource/pro01.png",
//        "pics": [
//          "/public/img/mobile/resource/pro01.png",
//          "/public/img/mobile/resource/pro.png",
//          "/public/img/mobile/resource/pug.png",
//          "/public/img/mobile/resource/pro02.png"
//        ],
//        "clickAmount": 99999999,
//        "saleAmount": 11111111
//      },
//      {
//        "id": 5,
//        "code": 1,
//        "level_id": 3,
//        "name": "束云茶叶罐001",
//        "artist": "李某某001",
//        "title": "【精雕细刻】束云茶叶罐001",
//        "description": "描述文字。。。。。001。",
//        "default_pic": "/public/img/mobile/resource/imgs.png",
//        "pics": [
//          "/public/img/mobile/resource/imgs.png",
//          "/public/img/mobile/resource/imgs.png",
//          "/public/img/mobile/resource/imgs.png",
//          "/public/img/mobile/resource/imgs.png"
//        ],
//        "clickAmount": 99999999,
//        "saleAmount": 11111111
//      },
//      {
//        "id": 6,
//        "code": 3,
//        "level_id": 1,
//        "name": "束云茶叶罐001",
//        "artist": "李某某001",
//        "title": "【精雕细刻】束云茶叶罐001",
//        "description": "描述文字。。。。。001。",
//        "default_pic": "/public/img/mobile/resource/imgs.png",
//        "pics": [
//          "/public/img/mobile/resource/pro01.png",
//          "/public/img/mobile/resource/pro.png",
//          "/public/img/mobile/resource/pug.png",
//          "/public/img/mobile/resource/pro02.png"
//        ],
//        "clickAmount": 99999999,
//        "saleAmount": 11111111
//      },
//      {
//        "id": 7,
//        "code": 2,
//        "level_id": 2,
//        "name": "束云茶叶罐001",
//        "artist": "李某某001",
//        "title": "【精雕细刻】束云茶叶罐001",
//        "description": "描述文字。。。。。001。",
//        "default_pic": "/public/img/mobile/resource/imgs.png",
//        "pics": [
//          "/public/img/mobile/resource/imgs.png",
//          "/public/img/mobile/resource/imgs.png",
//          "/public/img/mobile/resource/imgs.png",
//          "/public/img/mobile/resource/imgs.png"
//        ],
//        "clickAmount": 99999999,
//        "saleAmount": 11111111
//      },
//    ],
    "products":{
        'entries': [
          {
            "id": 0,
            "code": 1,
            "level_id": 0,
            "name": "束云茶叶罐001",
            "artist": "李某某001",
            "title": "【精雕细刻】束云茶叶罐001",
            "description": "整款器形古朴浑厚，细腻柔和，古韵悠然，壶身扁圆饱满，线条柔和构筑，弯流如意壶嘴，出水爽利，断水干净利落，端握合适，拿捏舒适，壶肩格勒出的线条，一眼看上便觉心清气爽。",
            "default_pic": "/public/img/mobile/resource/imgs.png",
            "pics": [
              "/public/img/mobile/resource/pro01.png",
              "/public/img/mobile/resource/pro01.png",
              "/public/img/mobile/resource/pro01.png",
              "/public/img/mobile/resource/pro01.png"
            ],
            "clickAmount": 99999999,
            "saleAmount": 11111111
          },
          {
            "id": 1,
            "code": 1,
            "level_id": 1,
            "name": "束云茶叶罐001",
            "artist": "李某某001",
            "title": "【精雕细刻】束云茶叶罐001",
            "description": "描述文字。。。。。001。",
            "default_pic": "/public/img/mobile/resource/pro.png",
            "pics": [
              "/public/img/mobile/resource/pro.png",
              "/public/img/mobile/resource/pro.png",
              "/public/img/mobile/resource/pro.png",
              "/public/img/mobile/resource/pro.png"
            ],
            "clickAmount": 99999999,
            "saleAmount": 11111111
          },
//          {
//            "id": 2,
//            "code": 2,
//            "level_id": 2,
//            "name": "束云茶叶罐001",
//            "artist": "李某某001",
//            "title": "【精雕细刻】束云茶叶罐001",
//            "description": "描述文字。。。。。001。",
//            "default_pic": "/public/img/mobile/resource/pug.png",
//            "pics": [
//              "/public/img/mobile/resource/pug.png",
//              "/public/img/mobile/resource/pug.png",
//              "/public/img/mobile/resource/pug.png",
//              "/public/img/mobile/resource/pug.png"
//            ],
//            "clickAmount": 99999999,
//            "saleAmount": 11111111
//          },
//          {
//            "id": 3,
//            "code": 3,
//            "level_id": 3,
//            "name": "束云茶叶罐001",
//            "artist": "李某某001",
//            "title": "【精雕细刻】束云茶叶罐001",
//            "description": "描述文字。。。。。001。",
//            "default_pic": "/public/img/mobile/resource/pro02.png",
//            "pics": [
//              "/public/img/mobile/resource/pro02.png",
//              "/public/img/mobile/resource/pro02.png",
//              "/public/img/mobile/resource/pro02.png",
//              "/public/img/mobile/resource/pro02.png"
//            ],
//            "clickAmount": 99999999,
//            "saleAmount": 11111111
//          },
//          {
//            "id": 4,
//            "code": 2,
//            "level_id": 4,
//            "name": "束云茶叶罐001",
//            "artist": "李某某001",
//            "title": "【精雕细刻】束云茶叶罐001",
//            "description": "描述文字。。。。。001。",
//            "default_pic": "/public/img/mobile/resource/pro01.png",
//            "pics": [
//              "/public/img/mobile/resource/pro01.png",
//              "/public/img/mobile/resource/pro.png",
//              "/public/img/mobile/resource/pug.png",
//              "/public/img/mobile/resource/pro02.png"
//            ],
//            "clickAmount": 99999999,
//            "saleAmount": 11111111
//          },
//          {
//            "id": 5,
//            "code": 1,
//            "level_id": 3,
//            "name": "束云茶叶罐001",
//            "artist": "李某某001",
//            "title": "【精雕细刻】束云茶叶罐001",
//            "description": "描述文字。。。。。001。",
//            "default_pic": "/public/img/mobile/resource/imgs.png",
//            "pics": [
//              "/public/img/mobile/resource/imgs.png",
//              "/public/img/mobile/resource/imgs.png",
//              "/public/img/mobile/resource/imgs.png",
//              "/public/img/mobile/resource/imgs.png"
//            ],
//            "clickAmount": 99999999,
//            "saleAmount": 11111111
//          },
//          {
//            "id": 6,
//            "code": 3,
//            "level_id": 1,
//            "name": "束云茶叶罐001",
//            "artist": "李某某001",
//            "title": "【精雕细刻】束云茶叶罐001",
//            "description": "描述文字。。。。。001。",
//            "default_pic": "/public/img/mobile/resource/imgs.png",
//            "pics": [
//              "/public/img/mobile/resource/pro01.png",
//              "/public/img/mobile/resource/pro.png",
//              "/public/img/mobile/resource/pug.png",
//              "/public/img/mobile/resource/pro02.png"
//            ],
//            "clickAmount": 99999999,
//            "saleAmount": 11111111
//          },
//          {
//            "id": 7,
//            "code": 2,
//            "level_id": 2,
//            "name": "束云茶叶罐001",
//            "artist": "李某某001",
//            "title": "【精雕细刻】束云茶叶罐001",
//            "description": "描述文字。。。。。001。",
//            "default_pic": "/public/img/mobile/resource/imgs.png",
//            "pics": [
//              "/public/img/mobile/resource/imgs.png",
//              "/public/img/mobile/resource/imgs.png",
//              "/public/img/mobile/resource/imgs.png",
//              "/public/img/mobile/resource/imgs.png"
//            ],
//            "clickAmount": 99999999,
//            "saleAmount": 11111111
//          },
        ],
        'pager': {'prev': 0, 'current': 1, 'next': 1, 'page_size': 5, 'total_page': 1, 'total': 13}

    },
    "index": "index.html",
    "login": "login.html",
    "product_url": "http://test.fangcuntang.com",
    "isindex": true
  }
</script>
<script src="public/js/mobile/head.js"></script>
<script src="public/js/mobile/main.js"></script>
</body>
</html>
