<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="order-container" id="order" v-cloak>
  <section class="info">
    <div class="text">
      <img :src="img_path + statusImg[order_detail.status]">{{ order_detail.statusName }}
    </div>
  </section>
  <section class="detail">
    <div class="express">
      <a href="javascript:;" class="link">
        <span class="img-container item">
            <img src="public/images/order_transport.png">
          </span>
        <span class="item t">{{ order_detail.orderReceiver.expressPlatform }}({{ order_detail.orderReceiver.expressNO }})<br><span class="time">{{ order_detail.orderReceiver.deliveryTime }}</span></span>
        <span class="wei-arrow-right"></span>
      </a>
    </div>
    <div class="addr">
      <div class="img-container">
        <img src="public/images/order_addr.png">
      </div>
      <div class="addr-info">
        <div class="item">收货人：{{ order_detail.orderReceiver.name }}</div>
        <div class="item right">{{ order_detail.orderReceiver.cellPhone }}</div>
      </div>
      <div class="address">收货地址：{{ order_detail.orderReceiver.province + "&nbsp;" + order_detail.orderReceiver.city + "&nbsp;" +  order_detail.orderReceiver.region + "&nbsp;" + order_detail.orderReceiver.address }}</div>
    </div>
    <div class="express invoice">
      <a href="javascript:;" class="link">
        <span class="img-container item">
            <img src="public/images/order_invoice.png">
          </span>
        <span class="item t">申请发票</span>
        <span class="wei-arrow-right"></span>
      </a>
    </div>
  </section>
  <section class="">
    <div class="product" v-for="(item, index) in order_detail.orderGoods">
      <div class="pro-item img-container">
        <img :src="item.img">
      </div>
      <div class="pro-item title-container">
        <div class="title">{{ item.name }}</div>
        <div class="spec">规格:{{ item.specName }}</div>
      </div>
      <div class="pro-item price-container">
        <div class="price">￥{{ item.price }}</div>
        <div class="num">*{{ item.buyCount }}</div>
        <a href="javascript:;" class="after-sale" v-if="item.status == -1">申请售后</a>
        <a href="/refud/status" class="after-sale" v-if="item.statusName">{{ item.statusName }}</a>      <!-- href的url带参数status -->
      </div>
    </div>
  </section>
  <section class="total">
    <div class="inner">共<span class="pri-color">{{ order_detail.buyTotalCount }}</span>件商品&nbsp;合计：<span class="pri-color">￥{{ order_detail.payAmount }}</span>（含运费）</div>
  </section>
  <section class="order-detail">
    <span v-if="order_detail.orderId">订单编号：{{ order_detail.orderId }}<br></span>
    <span v-if="order_detail.payOrderId">支付单号：{{ order_detail.payOrderId }}<br></span>
    <span v-if="order_detail.payPlatform">支付方式：{{ order_detail.payPlatform }}<br></span>
    <span v-if="order_detail.createTime">创建时间：{{ order_detail.createTime }}<br></span>
    <span v-if="order_detail.payTime">付款时间：{{ order_detail.payTime }}<br></span>
    <span v-if="order_detail.expiresTime">发货时间：{{ order_detail.expiresTime }}<br></span>
    <span v-if="order_detail.finishTime">完成时间：{{ order_detail.finishTime }}</span>
  </section>
  <footer class="footer">
    <div class="inner">
      <a href="javascript:;" class="chat"><img src="public/images/order_chat.png"></a>
      <div class="del">
        <a href="javascript:;">删除订单</a>
      </div>
      <div class="comment">
        <a href="javascript:;">我要评价</a>
      </div>
    </div>
  </footer>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<template id="pop">
  <div class="alet_container">
    <section class="tip_text_container">
      <div class="tip_text">{{ msg }}</div>
      <!--<div class="confrim" @click="close">确认</div>-->
    </section>
  </div>
</template>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script>
  var config = {
      "img_path": "public/images",
      "order_detail": {
        "orderId": "1707186898922467",
        "memberId": 5,
        "cellPhone": "18616311580",
        "shopId": 0,
        "points": 0,
        "accountAmount": 4991.4,
        "cashAmount": 2563.4,
        "payAmount": 7554.8,
        "totalAmount": 8888,
        "couponCode": "",
        "status": 0,
        "statusName": "待收货",      //used
        "buyTotalCount": 10,        //used
        "payOrderId": null,
        "payPlatform": "alipay_fctwap",
        "remark": "",
        "orderGoods": [{
          "id": 60,
          "orderId": "1707186898922467",
          "goodsId": 2,
          "goodsSpecId": 1,
          "name": "goods",
          "specName": "aaa",
          "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
          "buyCount": 1,
          "status": -1,
          "statusName": "",
          "price": 8888,
          "commission": 200,
          "promotionPrice": 7554.8,
          "couponAmount": 0,
          "payAmount": 7554.8,
          "totalAmount": 8888,
          "content": null
        }],
        "orderReceiver": {
          "orderId": "1707186898922467",
          "name": "小寒",
          "phone": "18616311580",
          "province": "上海",
          "city": "上海",
          "region": "普陀",
          "address": "金沙江地铁站",
          "postCode": null,
          "expressPlatform": null,
          "expressNO": null,
          "deliveryTime": null
        },
        "settleId": 0,
        "commentStatus": 0,
        "payTime": null,
        "createTime": 1500376189000,
        "updateTime": 1500697737000,
        "expiresTime": 1503140989000,
        "finishTime": "",
        "operatorId": null
      }
  }
</script>
<script src="public/scripts/order.js"></script>
</body>
</html>
