<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="aftersale-container" id="aftersale" v-cloak>
  <ul class="after-list" v-load-more="nextPage" type="1">
    <li class="items" v-for="(item, index) in refund">
        <div class="info">
          <div class="left">退款单号：{{ item.id }}</div>
          <div class="right">{{ item.statusName }}</div>
        </div>
        <div class="product">
          <div class="pro-item img-container">
            <img :src="item.img">
          </div>
          <div class="pro-item title-container">
            <div class="title">{{ item.name }}</div>
            <div class="spec">规格:{{ item.specName }}</div>
          </div>
          <div class="pro-item price-container">
            <div class="price">￥{{ item.price }}</div>
            <div class="num">*{{ item.buyCount }}</div>
          </div>
        </div>
        <div class="btn clearfix">
         <div class="txt">退款金额：￥{{ item.payAmount }}</div>
          <div class="btn-container">
            <a href="javascript:;" class="black">查看详情</a>
          </div>
        </div>
    </li>
  </ul>
  <footer class="loader_more" v-show="preventRepeatReuqest">正在加载更多...</footer>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<template id="pop">
  <div class="alet_container">
    <section class="tip_text_container">
      <div class="tip_text">{{ msg }}</div>
    </section>
  </div>
</template>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script src="public/scripts/common/tools.js"></script>
<script>
  var config = {
    "refund": {
      "refundUrl": "http://localhost:3000/refundlist",
      "entries": [
        {
          "id": "1707186898922467",
          "memberId": 5,
          "orderId": "18616311580",
          "orderGoodsId": 0,
          "isReceived": 0,
          "serviceType": 4991.4,
          "refundReason": 2563.4,
          "status": 7554.8,      //used
          "statusName": "退款成功",      //used
          "buyTotalCount": 10,        //used
          "refundMethod": 8888,
          "createTime": "",
          "updateTime": 4,                //used
          "goodsId": 60,
          "goodsSpecId": "1707186898922467",
          "name": "goods",
          "specName": "aaa",
          "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
          "payAmount": 7554.8,
        },
      ],
      "pager": {"prev": 0, "current": 1, "next": 1, "page_size": 20, "total_page": 1, "total": 13}
    }
  }
</script>
<script src="public/scripts/aftersale.js"></script>
</body>
</html>
