.invitelist-container .banner-container {
  position: relative;
  width: 100%;
  margin-bottom: calc(52/750*100%);
}
.invitelist-container .banner-container .banner {
  width: 100%;
}
.invitelist-container .banner-container .tip-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding-bottom: calc(66/750*100%);
}
.invitelist-container .banner-container .tip-container .inner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #d66956;
  color: #fff;
}
.invitelist-container .banner-container .tip-container .inner .content {
  width: calc(686/750*100%);
  padding: 0 calc(32/750*100%);
  line-height: 250%;
}

.invitelist-container .banner-container .tip-container .inner .swiper-container .content img {
  width: 5%;
  vertical-align: sub;
  margin-right: 2.5%;
}

.invitelist-container .content-container {
  position: relative;
  background-color: #f5f5f5;
}
.invitelist-container .content-container .list-container {
  position: relative;
  margin: 0 calc(30/750*100%) calc(90/750*100%) calc(30/750*100%);
  width: calc(690/750*100%);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px 1px #e3e3e3;
}
.invitelist-container .content-container .list-container .title {
  position: absolute;
  top: -0.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: calc(360/690*100%);
  padding-bottom: calc(82/690*100%);
}
.invitelist-container .content-container .list-container .title .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url(https://cdn.fangcun.com/static/img/mobile/title_i.png) no-repeat center center;
  background-size: 100% auto;
  font-size: 26rpx;
  line-height: 2.4;
  color: #fff;
}
.invitelist-container .content-container .list-container .items-title {
  width: 100%;
  padding-top: calc(76/690*100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.invitelist-container .content-container .list-container .items-title .c {
  position: relative;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
  width: calc(100%/3);
  padding: 3.5% 0;
  text-align: center;
}
.invitelist-container .content-container .list-container .list {
  width: 100%;
  padding-bottom: calc(76/690*100%);
  max-height: 254px;
  overflow: scroll;
}
.invitelist-container .content-container .list-container .list .items:nth-child(2n-1) {
  background-color: #ece8e9;
}
.invitelist-container .content-container .list-container .list .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.invitelist-container .content-container .list-container .list .items .c {
  position: relative;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
  width: calc(100%/3);
  padding: 3.5% 0;
  text-align: center;
}
.invitelist-container .content-container .list-container .list .items .red {
  color: #c40b1b;
}
.invitelist-container .content-container .list-container .list .items .gray {
  color: #999;
}
.invitelist-container .content-container .list-container .rule-list {
  padding: calc(105/690*100%) calc(36/750*100%) calc(36/750*100%) calc(36/750*100%);
}
.invitelist-container .content-container .list-container .rule-list .no {
  float: left;
  width: 5%;
  line-height: 2rem;
}
.invitelist-container .content-container .list-container .rule-list .con {
  float: left;
  width: 95%;
  line-height: 2rem;
}
.invitelist-container .content-container .list-container .tips {
  padding: 0 calc(36/750*100%) calc(36/750*100%) calc(36/750*100%);
  color: #c40b1b;
}
.invitelist-container .content-container .list-container .tips .t {
  font-size: 28rpx;
  line-height: 28rpx;
  margin-bottom: 2.5%;
}
.invitelist-container .content-container .list-container .tips .l {
  line-height: 2rem;
}
.invitelist-container .content-container .btn-l-container {
  position: relative;
  width: calc(530/750*100%);
  padding: 0 calc(110/750*100%) calc(90/750*100%) calc(110/750*100%);
}
.invitelist-container .content-container .btn-l-container .inner {
  position: relative;
  width: 100%;
}
.invitelist-container .content-container .btn-l-container .inner .qr {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc(82/530*100%);
}
.invitelist-container .content-container .btn-l-container .inner .qr img {
  width: 100%;
}
.invitelist-container .content-container .btn-l-container .inner .btn {
  width: calc(400/530*100%);
  margin-left: calc(130/530*100%);
}
.invitelist-container .content-container .btn-l-container .inner .btn .link{
  width: calc(100% - 2px);
  display: inline-block;
  text-align: center;
  color: #fff;
  border: 1px solid #1d1d1d;
  background-color: #1d1d1d;
  height: 45px;
  line-height: 45px;
  font-size: 26rpx;
  margin: 0 auto;
  border-radius: 4px;
}
.invitelist-container .content-container .btn-container {
  position: relative;
  width: calc(480/750*100%);
  padding: 0 calc(135/750*100%) calc(76/750*100%) calc(135/750*100%);
}
.invitelist-container .content-container .btn-container .btn{
  color: #fff;
  border: 1px solid #1d1d1d;
  background-color: #1d1d1d;
  height: 45px;
  line-height: 45px;
  font-size: 28rpx;
  width: calc(100% - 2px);
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
}
