<view class="orderlist-container">
  <view class="tabs">
    <view class="item" v-for="(item, index) in tabs" :class="{chosen: (index - 1)===tab_num}" @click="category(index - 1)">
      <view class="link">{{ item }}</view>
    </view>
    <view class="search-container" :class="{show:show_search}">
      <view class="cancel-search">
        <view class="fork">取消</view>
      </view>
      <input type="search" class="search-input">
      <a href="javascript:;" class="search-link" @click="search(1)">
        <i class="fa fa-search"></i>
      </a>
    </view>
  </view>
  <view class="orders-list" v-load-more="nextPage" type="1" v-if="orderlist && orderlist.length > 0">
    <view class="items" v-for="(item, index) in orderlist">
      <view class="info">
        <view class="left">订单号：{{ item.orderId }}</view>
        <view class="right">{{ item.statusName }}</view>
      </view>
      <ul class="list">
        <li class="product" v-for="(good, index) in item.orderGoods" @click="todetail(item)">
          <view class="pro-item img-container">
            <img :src="good.img">
          </view>
          <view class="pro-item title-container">
            <view class="title">{{ good.name }}</view>
            <view class="spec">规格:{{ good.specName }}</view>
          </view>
          <view class="pro-item price-container">
            <view class="price"><small class="pri-mark">￥</small>{{ good.price }}</view>
            <view class="num">*{{ good.buyCount }}</view>
          </view>
        </li>
      </ul>
      <view class="total">
        <view class="inner">共{{ item.buyTotalCount }}件商品&nbsp;合计:<span class="payAmount"><small class="pri-mark">￥</small>{{ item.payAmount }}</span>（含运费）</view>
      </view>
      <view class="btn clearfix" v-if="item.status == 0">
        <view class="btn-container">
          <a href="javascript:;" class="black">我要付款</a>
        </view>
        <view class="btn-container">
          <a href="javascript:;" class="grey" @click="confirm(item.orderId, cancel)">关闭订单</a>
        </view>
      </view>
      <view class="btn clearfix" v-if="item.status == 2">
        <view class="btn-container">
          <a href="javascript:;" class="black">查看物流</a>
        </view>
      </view>
      <view class="btn clearfix" v-if="item.status == 3">
        <view class="btn-container">
          <a href="javascript:;" class="black">评价</a>
        </view>
      </view>
    </view>
  </view>
</view>
