<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="public/styles/main.css">
  <!-- endbuild -->
</head>
<body>
<div class="kpirecord-container" id="kpirecord" v-cloak>
  <ul class="list" v-load-more="nextPage" type="1" v-if="kpilist && kpilist.length > 0">
    <li class="items" v-for="(item, index) in kpilist">
      <div class="t-date">{{ item.createTime }}</div>
      <div class="info-list">
        <div class="info-i">
          <div>考核指标</div>
          <div class="c"><small>￥</small>{{ item.kpiAmount }}</div>
        </div>
        <div class="info-i">
          <div>分店数</div>
          <div class="c">{{ item.storeCount }}</div>
        </div>
        <div class="info-i">
          <div>销售额</div>
          <div class="c"><small>￥</small>{{ item.saleAmount }}</div>
        </div>
        <div class="info-i">
          <div>返点比例</div>
          <div class="c">{{ item.rebateRatio * 100 }}%</div>
        </div>
      </div>
      <div class="total">完成业绩<span class="s">{{ item.finishSaleRatio * 100 }}%</span>，返点<span class="s">{{ item.lastRebateRatio * 100 }}%</span>，返佣<span class="s"><small>￥</small>{{ item.rebateAmount }}</span>。</div>
    </li>
  </ul>
  <no-data v-if="nodata" :imgurl="'public/img/mobile/no_data.png'" :text="'当前没有相关数据哟~'"></no-data>
  <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
</div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/hammer.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script>
  var config = {
    "kpiurl": "",
    "kpi":
      {
        "entries":
          [
            {"createTime":1522512000000,"kpiAmount":800000,"storeCount":0,"saleAmount":0,"rebateRatio":0.2,"finishSaleRatio":0,"lastRebateRatio":0.2,"rebateAmount":0},
            {"createTime":1519833600000,"kpiAmount":800000,"storeCount":0,"saleAmount":1000000,"rebateRatio":0.2,"finishSaleRatio":1.25,"lastRebateRatio":0.225,"rebateAmount":225000}
          ],
        "pager":{"prev":0,"current":1,"next":0,"page_size":20,"total_page":1,"total":2}
      }
  }
</script>
<script src="public/js/mobile/u_kpirecord.js"></script>
</body>
</html>
