<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="public/styles/main.css">
  <!-- endbuild -->
</head>
<body>
<div class="union-container" id="union" v-cloak>
  <section class="info-container">
    <div class="shop">
      <div class="name">{{ union.name }}<img :src="'public/img/mobile/shop_v' + union.levelId + '.png'" class="rank"></div>
      <div class="deposit"><span class="n">{{ reversedNum }}</span>万保证金</div>
    </div>
    <ul class="detail">
      <li class="items">
        <div class="inner">
          <span class="pri"><small>￥</small>{{ union.saleAmount }}</span>
          <span class="txt">总销售额</span>
        </div>
      </li>
      <li class="items">
        <div class="inner">
          <span class="pri"><small>￥</small>{{ union.rebateAmount }}</span>
          <span class="txt">总返金额</span>
        </div>
      </li>
      <li class="items">
        <a href="javascript:;" class="inner">
          <span class="pri">{{ union.storeCount }}</span>
          <span class="txt l">分店数</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="kpi-container">
    <div class="title">{{ union.month }}月考核情况<a href="javascript:;" class="more">更多&nbsp;<i class="fa fa-caret-right"></i></a></div>
    <ul class="detail">
      <li class="items">考核指标</li>
      <li class="items">累积销售额</li>
      <li class="items">返点比例</li>
      <li class="items"><small>￥</small>{{ union.kpiAmount }}</li>
      <li class="items"><small>￥</small>{{ union.kpiSaleAmount }}</li>
      <li class="items">{{ reversedRatio }}%</li>
      <li class="items"><span class="shop">“{{ union.topAllianceName }}”</span>当前业绩最高</li>
    </ul>
  </section>
  <section class="invite-container">
    <div class="title">
      <div class="t">邀请开店</div>
      <div class="vt">有<span class="n">{{ union.inviteCount }}</span>张邀请码</div>
      <a href="javascript:;" class="btn" @click="invite" v-if="union.inviteCount!=0"><img src="public/img/mobile/touch.png"></a>
    </div>
    <ul class="detail">
      <li class="items">
        <div class="r">邀请码</div>
        <div class="r">过期时间</div>
        <div class="r">操作</div>
      </li>
      <li class="items" v-for="(item, index) in inviteCodes">
        <div class="r">{{ item.code }}</div>
        <div class="r">{{ item.expireTime }}</div>
        <div class="r">
          <a href="javascript:;" class="opt">
            <img src="public/img/mobile/m_add.png">
          </a>
        </div>
      </li>
    </ul>
  </section>
</div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/hammer.js"></script>
<script src="public/js/mobile/swiper.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script>
  var config = {
    "union": {
      "name": "上海北松店",
      "levelId": 2,
      "deposit": 300000,
      "saleAmount": 1000000,
      "rebateAmount": 225000,
      "storeCount": 2,
      "month": 4,
      "kpiAmount": 800000,
      "kpiSaleAmount": 0,
      "kpiRebateRatio": 0.2,
      "topAllianceName": "本联盟",
      "inviteCount": 0,
      "inviteCodes":
        [
          {"code": "1111111", "expireTime": 1526090400000},
          {"code": "2222222", "expireTime": 1526090400000},
          {"code": "1111111", "expireTime": 1526090400000},
          {"code": "2222222", "expireTime": 1526090400000},
          {"code": "1111111", "expireTime": 1526090400000},
          {"code": "2222222", "expireTime": 1526090400000},
          {"code": "1111111", "expireTime": 1526090400000},
          {"code": "2222222", "expireTime": 1526090400000},
          {"code": "1111111", "expireTime": 1526090400000},
          {"code": "2222222", "expireTime": 1526090400000},

        ]
    },
    "add_url": ""
  }
</script>
<script src="public/js/mobile/head.js"></script>
<script src="public/js/mobile/union.js"></script>
</body>
</html>
