<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="user-container" id="user" v-cloak>
  <head-top></head-top>
  <section class="banner">
    <img src="public/img/mobile/resource/banner.png" class="banner-img">
    <a href="userinfo.html" class="banner-link">
      <span class="photo-container">
        <img :src="user.photo">
      </span>
      <span class="info-container">
        <span class="name">{{ user.username }}</span>
        <span class="rank">普通用户</span>
      </span>
    </a>
  </section>
  <section class="user-sec">
    <a href="order_list.html" class="order">
      <span>我的订单</span>
      <span class="wei-arrow-right"></span>
    </a>
    <ul class="list">
      <li>
        <a href="javascript:;" class="link">
          <img src="public/img/mobile/user_payment_pending.png"><br>
          <span>待付款</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <img src="public/img/mobile/user_shipment_pending.png"><br>
          <span>待发货</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <img src="public/img/mobile/user_shipped.png"><br>
          <span>已发货</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <img src="public/img/mobile/user_evaluation_pending.png"><br>
          <span>待评价</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <img src="public/img/mobile/user_aftersale.png"><br>
          <span>售后服务</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="user-sec">
    <ul class="list auction">
      <li>
        <a href="javascript:;" class="link">
          <img src="https://cdn.fangcun.com/static/img/mobile/auction/my/bm-waitpay.png"><br>
          <span>拍卖中</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <img src="https://cdn.fangcun.com/static/img/mobile/auction/my/pm-success.png"><br>
          <span>竞拍成功</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <img src="https://cdn.fangcun.com/static/img/mobile/auction/my/order.png"><br>
          <span>拍卖订单</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <img class='bracket' src="https://cdn.fangcun.com/static/img/mobile/auction/my/bracket.png">
          <img src="https://cdn.fangcun.com/static/img/mobile/auction/my/hammer.png"><br>
          <span class="my">我的拍卖</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="user-sec">
    <ul class="funcs-list">
      <li>
        <a href="wallet.html" class="link">
          <span class="img-container item">
            <img src="public/img/mobile/u_money.png">
          </span>
          <span class="item t">我的钱包</span>
          <span class="wei-arrow-right"></span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <span class="img-container item">
            <img src="public/img/mobile/u_coupon.png">
          </span>
          <span class="item t">优惠券</span>
          <span class="wei-arrow-right"></span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <span class="img-container item">
          <img src="public/img/mobile/u_fav.png">
          </span>
          <span class="item t">我的收藏</span>
          <span class="wei-arrow-right"></span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <span class="img-container item">
          <img src="public/img/mobile/u_address.png">
          </span>
          <span class="item t">地址管理</span>
          <span class="wei-arrow-right"></span>
        </a>
      </li>
    </ul>
  </section>
  <section class="user-sec">
    <ul class="funcs-list">
      <li>
        <a href="javascript:;" class="link">
          <span class="img-container item">
          <img src="public/img/mobile/u_chat.png">
          </span>
          <span class="item t">在线客服</span>
          <span class="wei-arrow-right"></span>
        </a>
      </li>
      <li>
        <a href="help.html" class="link">
          <span class="img-container item">
          <img src="public/img/mobile/u_help.png">
          </span>
          <span class="item t">帮助中心</span>
          <span class="wei-arrow-right"></span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="link">
          <span class="img-container item">
          <img src="public/img/mobile/u_share.png">
          </span>
          <span class="item t">分享给朋友，一起赚钱！</span>
          <span class="wei-arrow-right"></span>
        </a>
      </li>
    </ul>
  </section>
  <a href="javascript:;" class="user-sec logout">退出登录</a>
<pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<script type="text/x-template" id="head_top">
  <header class="head-container">
    <ul class="nav">
      <li class="toggle" @click="toggle()">
        <i class="fa fa-bars"></i>
      </li>
      <li class="logo" @click="toIndex()">
        <img src="public/img/mobile/logo.png">
      </li>
      <li class="user" @click="toLogin()">
        <span class="img-container">
          <img src="public/img/mobile/nologin-head.png">
        </span>
      </li>
    </ul>
    <div class="aside" :class="{open:open,docked:docked}" @click="toggle()">
      <div class="container">
        <ul class="types">
          <li class="item" v-for="(types, index) in typeList" @click="change(types.code)">
            <span>{{ types.name }}</span>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
        <ul class="lines clearfix">
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu1.png">
              <span>合作艺师</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu2.png">
              <span>百科</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu3.png">
              <span>个性定制</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu4.png">
              <span>APP下载</span>
            </a>
          </li>
          <li class="item">
            <a href="javascript:;">
              <img src="public/img/mobile/menu5.png">
              <span>品牌理念</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</script>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script src="public/js/mobile/head.js"></script>
<script>
  var config = {
    "productsType": [
      {
        "name": "全部",
        "code": "a"
      },
      {
        "name": "圆器",
        "code": "b"
      },
      {
        "name": "方器",
        "code": "c"
      },
      {
        "name": "花器",
        "code": "d"
      },
      {
        "name": "筋纹器",
        "code": "e"
      }

    ],
    "main_url": "http://localhost:9000/main.html",
    "user":{
      "photo": "public/img/mobile/resource/artist.png",
      "username": "用户名"
    }
  }
</script>
<script src="public/js/mobile/usercenter.js"></script>
</body>
</html>
