<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="userinfo-container" id="userinfo" v-cloak>
  <section class="photo-container">
    <div class="link">
      <span class="photo">
        <img :src="userinfo.emptyPhoto" v-if="userinfo.headPortrait == ''">
        <img :src="userinfo.headPortrait" v-else>
      </span>
      点击修改头像
    </div>
    <input type="file" class="upload" @change="fileChange">
  </section>
  <form id="userForm">
    <input type="hidden" :value="uploadImg.url">
    <section class="list-container">
      <div class="line">
        <div class="left">用户ID</div>
        <div class="right">
          <input type="text" class="right-inp">
        </div>
      </div>
      <div class="line">
        <div class="left">手机号码</div>
        <div class="right">
          <input type="text" class="right-inp">
        </div>
      </div>
      <div class="line">
        <div class="left">昵称</div>
        <div class="right">
          <input type="text" class="right-inp">
        </div>
      </div>
      <div class="line">
        <div class="left">性别</div>
        <div class="right">
          <label for="male" class="radio-container">
            <input type="radio" name="address" id="male" class="choose-radio">
            <span class="">男</span>
          </label>
          <label for="female" class="radio-container">
            <input type="radio" name="address" id="female" class="choose-radio">
            <span class="">女</span>
          </label>
        </div>
      </div>
      <div class="line">
        <div class="left">出生日期</div>
        <div class="right clearfix">
          <input type="date" name="" id="" class="birth">
          <span class="wei-arrow-right"></span>
        </div>
      </div>
      <div class="line">
        <div class="left">微信</div>
        <div class="right">
          <input type="text" class="right-inp">
        </div>
      </div>
    </section>
  </form>

  <div class="sub-btn">
    <a href="javascript:;" @click="sub()">确认保存</a>
  </div>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<template id="pop">
  <div class="alet_container">
    <section class="tip_text_container">
      <div class="tip_text">{{ msg }}</div>
      <!--<div class="confrim" @click="close">确认</div>-->
    </section>
  </div>
</template>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script>
  var config = {
    "userinfo": {
      "memberId": 1,
      "cellPhone": 13838384388,
      "userName": "昵称",
      "headPortrait": "",
      "emptyPhoto": "http://localhost:9000/public/images/resource/emptyPhoto.png",
      "sex": 0, /* 0: 女, 1: 男 */
      "birthday": "2017-01-30",
      "weixin": "2124235"
    },
    "uploadFileUrl": "http://localhost:3000/uploadFile"
  }
</script>
<script src="public/scripts/userinfo.js"></script>
</body>
</html>
