<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="userinfo-container" id="userinfo" v-cloak>
  <section class="photo-container">
    <div class="link">
      <span class="photo">
        <img :src="userinfo.emptyPhoto" v-if="userinfo.headPortrait == ''">
        <img :src="userinfo.headPortrait" v-else>
      </span>
      点击修改头像
    </div>
    <input type="file" name="file" class="upload" @change="fileChange">
  </section>
  <form id="userForm">
    <input type="hidden" name="avatar" :value="uploadImg.url">
    <section class="list-container">
<!--      <div class="line">
        <div class="left">用户ID</div>
        <div class="right">
          {{ userinfo.memberId }}
        </div>
      </div>-->
      <div class="line">
        <div class="left">手机号码</div>
        <div class="right">
          {{ userinfo.cellPhone }}
        </div>
      </div>
      <div class="line">
        <div class="left">昵称</div>
        <div class="right">
          <input type="text" class="right-inp" name="username" v-model="userinfo.userName">
        </div>
      </div>
      <div class="line">
        <div class="left">性别</div>
        <div class="right">
          <label for="male" class="radio-container">
            <input type="radio" name="sex" v-model="sex" value="1" id="male" class="choose-radio">
            <span class="">男</span>
          </label>
          <label for="female" class="radio-container">
            <input type="radio" name="sex" v-model="sex" value="0" id="female" class="choose-radio">
            <span class="">女</span>
          </label>
        </div>
      </div>
      <div class="line">
        <div class="left">出生日期</div>
        <div class="right clearfix">
          <input type="date" v-model="date" name="birthday" class="birth">
          <span class="wei-arrow-right"></span>
        </div>
      </div>
      <div class="line">
        <div class="left">微信</div>
        <div class="right">
          <input type="text" class="right-inp" name="weixin" v-model="userinfo.weixin">
        </div>
      </div>
    </section>
  </form>
  <div class="sub-btn">
    <a href="javascript:;">
      <subpost :txt="subText" ref="subpost" @callback="sub" @succhandle="succhandle"></subpost>
    </a>
  </div>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script>
  var config = {
    "userinfo": {
      "memberId": 1,
      "cellPhone": 13838384388,
      "userName": "昵称",
      "headPortrait": "",   /* 头像 */
      "emptyPhoto": "http://localhost:9000/public/img/mobile/nologin-head.png",    /* 空白头像 */
      "sex": 1, /* 0: 女, 1: 男 */
      "birthday": "2017-01-29",
      "weixin": "2124235"
    },
    "uploadFileUrl": "http://localhost:3000/uploadFile",
    "userinfoUrl": "http://localhost:3000/userinfo"
  }
</script>
<script src="public/js/mobile/userinfo.js"></script>
</body>
</html>
