<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>提现记录</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="walletaccount-container" id="withdrawalsrecord" v-cloak>
  <ul class="list" v-load-more="nextPage">
    <li v-for="(item, index) in withdrawalRecordList">
      <div class="inner">
        <div class="up clearfix">
          <span>{{ item.bankName }}</span><span class="pri">{{ item.amount }}</span>
        </div>
        <div class="down clearfix">
          <span>状态：{{ item.statusName }}</span><span class="pri">{{ item.createTime }}</span>
        </div>
      </div>
    </li>
  </ul>
  <no-data v-if="nodata"></no-data>
  <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script>
  var config = {
    "withdrawalRecordUrl": "http://localhost:3000/withdrawalRecord",
    "withdrawalRecordList": {
      'entries': [
        /*{
          "createTime": "2017-02-02",
          "bankName": "建设银行",
          "amount": 224234,
          "statusName": '等待财务处理'           /!* 提现状态 *!/
        },
        {
          "createTime": "2017-02-02",
          "bankName": 324123,
          "amount": 224234,
          "statusName": '提现成功'           /!* 提现状态 *!/
        },
        {
          "createTime": "2017-02-02",
          "bankName": 324123,
          "amount": 224234,
          "statusName": '提现成功'               /!* 提现状态 *!/
        },*/
      ],
      'pager': {'prev': 0, 'current': 1, 'next': 1, 'page_size': 20, 'total_page': 1, 'total': 13}
    },
  }
</script>
<script src="public/js/mobile/withdrawalsrecord.js"></script>
</body>
</html>
