<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>佣金结算</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="commission-container" id="commission" v-cloak>
  <div class="tabs">
    <div class="item" v-for="(item, index) in tabs" :class="{chosen: index===tab_num}" @click="category(index)">
      <a href="javascript:;" class="link">{{ item }}</a>
    </div>
  </div>
  <div class="orders-list" v-load-more="nextPage" type="1">
    <div class="items" v-for="(item, index) in commissionlist">
      <div class="info">
        <div class="left">订单号：{{ item.tradeId }}</div>
        <div class="right">{{ item.createTime }}</div>
      </div>
      <ul class="list">
        <li class="product" v-for="(i, index) in item.orderGoods">
          <div class="pro-item img-container">
            <img :src="i.img">
          </div>
          <div class="pro-item title-container">
            <div class="title">{{ i.name }}</div>
            <div class="spec">规格:{{ i.specName }}</div>
          </div>
          <div class="pro-item price-container">
            <div class="price"><small class="pri-mark">￥</small>{{ i.commission }}</div>
            <div class="num">*{{ i.buyCount }}</div>
          </div>
        </li>
      </ul>
      <div class="total">
        <div class="inner">共<span class="pri">{{ item.totalCount }}</span>件商品&nbsp;合计佣金：<span class="pri"><small class="pri-mark">￥</small>{{ item.commission }}</span></div>
      </div>
    </div>
  </div>
  <footer class="loader_more" v-show="preventRepeatReuqest">正在加载更多...</footer>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<template id="pop">
  <div class="alet_container">
    <section class="tip_text_container">
      <div class="tip_text">{{ msg }}</div>
    </section>
  </div>
</template>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script src="public/scripts/common/tools.js"></script>
<script>
  var config = {
    "commissionUrl": "http://localhost:3000/commission",
    "commissionlist": {
      'entries': [
        {
          "tradeId": "订单id",
          "createTime": "2017-02-02",
          "orderGoods": [
            {
            "name": "goods",
            "specName": "aaa",
            "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
            "buyCount": 1,
            "commission": 8888,
            },
            {
              "name": "goods",
              "specName": "aaa",
              "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
              "buyCount": 1,
              "commission": 8888,
            },
            {
              "name": "goods",
              "specName": "aaa",
              "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
              "buyCount": 1,
              "commission": 8888,
            }
          ],
          "commission": 12321.00,
          "totalCount": 4,

        },
        {
          "tradeId": "订单id",
          "createTime": "2017-02-02",
          "orderGoods": [{
            "name": "goods",
            "specName": "aaa",
            "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
            "buyCount": 1,
            "commission": 8888,
          }],
          "commission": 12321.00,
          "totalCount": 4
        },
        {
          "tradeId": "订单id",
          "createTime": "2017-02-02",
          "orderGoods": [{
            "name": "goods",
            "specName": "aaa",
            "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
            "buyCount": 1,
            "commission": 8888,
          }],
          "commission": 12321.00,
          "totalCount": 4
        },
        {
          "tradeId": "订单id",
          "createTime": "2017-02-02",
          "orderGoods": [{
            "name": "goods",
            "specName": "aaa",
            "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
            "buyCount": 1,
            "commission": 8888,
          }],
          "commission": 12321.00,
          "totalCount": 4
        },
        {
          "tradeId": "订单id",
          "createTime": "2017-02-02",
          "orderGoods": [{
            "name": "goods",
            "specName": "aaa",
            "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
            "buyCount": 1,
            "commission": 8888,
          }],
          "commission": 12321.00,
          "totalCount": 4
        },
        {
          "tradeId": "订单id",
          "createTime": "2017-02-02",
          "orderGoods": [{
            "name": "goods",
            "specName": "aaa",
            "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
            "buyCount": 1,
            "commission": 8888,
          }],
          "commission": 12321.00,
          "totalCount": 4
        },
        {
          "tradeId": "订单id",
          "createTime": "2017-02-02",
          "orderGoods": [{
            "name": "goods",
            "specName": "aaa",
            "img": "\/upload\/2017-06-08\/5f2a876426944448866798b34f08c43f.png",
            "buyCount": 1,
            "commission": 8888,
          }],
          "commission": 12321.00,
          "totalCount": 4
        },
      ],
      "status": 0,      /* 0：等待结算， 2:结算成功 */
      'pager': {'prev': 0, 'current': 1, 'next': 1, 'page_size': 20, 'total_page': 1, 'total': 13}
    },

  }
</script>
<script src="public/scripts/commission.js"></script>
</body>
</html>
