<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>充值记录</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="record-recharge-container" id="recordrecharge" v-cloak>
  <ul class="list" v-load-more="nextPage">
    <li class="clearfix" v-for="(item, index) in chargeRecordList">
      <div class="info">
        <div class="up">
          <span class="long">订单号：{{ item.id }}</span>
          <span><small class="pri-mark">￥</small>{{ item.payAmount }}</span>
          <span><small class="pri-mark">￥</small>{{ item.giftAmount }}</span>
          <span class="pri"><small class="pri-mark">￥</small>{{ item.amount }}</span>
        </div>
        <div class="down">
          <span class="long">{{ item.createTime }}</span>
          <span>充值金额</span>
          <span>赠送金额</span>
          <span class="pri">获得金额</span>
        </div>
      </div>
      <div class="btn-container">
        <a href="javascript:;" class="btn" v-if="item.status == 0">我要付款</a>
        <a href="javascript:;" class="btn" v-else="">查看详情</a>
      </div>
    </li>
  </ul>
  <no-data v-if="nodata" :imgurl="'public/img/mobile/no_data.png'" :text="'当前没有相关数据哟~'"></no-data>
  <img src="public/img/mobile/img_loader_s.gif" class="list-loader" v-if="listloading">
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<script src="public/js/mobile/vue.js"></script>
<script src="public/js/mobile/api/index.js"></script>
<script src="public/js/mobile/common/tools.js"></script>
<script>
  var config = {
    "chargeRecordUrl": "http://localhost:3000/chargeRecord",
    "chargeRecordList": {
      'entries': [
        {
          "id": 3123,
          "createTime": "2017-02-02",
          "payAmount": 234234,   /* 充值金额 */
          "giftAmount": 324123,    /*  赠送金额 */
          "amount": 224234,       /* 获得金额 */
          "status": 0           /* 0为等待付款 */
        },
        {

          "id": 234234,
          "createTime": "2017-02-02",
          "payAmount": 234234,   /* 充值金额 */
          "giftAmount": 324123,    /*  赠送金额 */
          "amount": 224234,       /* 获得金额 */
          "status": 1
        },
      ],
      'pager': {'prev': 0, 'current': 1, 'next': 1, 'page_size': 20, 'total_page': 1, 'total': 13}
    },

  }
</script>
<script src="public/js/mobile/recordrecharge.js"></script>
</body>
</html>
