<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>账户明细</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
<div class="walletaccount-container" id="walletaccount" v-cloak>
  <ul class="list" v-load-more="nextPage">
    <li v-for="(item, index) in walletaccountList">
      <div class="inner">
        <div class="up clearfix">
          <span>{{ item.remark }}</span><span class="pri">{{ item.balanceAmount }}</span>
        </div>
        <div class="down clearfix">
          <span>{{ item.createTime }}</span><span class="pri">{{ item.amount }}</span>
        </div>
      </div>
    </li>
  </ul>
  <footer class="loader_more" v-show="preventRepeatReuqest">正在加载更多...</footer>
  <pop v-if="showAlert" :showHide="showAlert" @close="close" :msg="msg"></pop>
</div>
<template id="pop">
  <div class="alet_container">
    <section class="tip_text_container">
      <div class="tip_text">{{ msg }}</div>
    </section>
  </div>
</template>
<script src="public/scripts/vue.js"></script>
<script src="public/scripts/api/index.js"></script>
<script src="public/scripts/common/tools.js"></script>
<script>
  var config = {
    "walletaccountUrl": "http://localhost:3000/walletaccount",
    "walletaccountList": {
      'entries': [
        {
          "amount": 7554.8,
          "createTime": "2017-07-17 17:32",
          "remark": "购买goods",
          "balanceAmount": 4991.4
        },
        {"amount": 7453.8, "createTime": "2017-07-17 17:30", "remark": "购买goods", "balanceAmount": 12546.2}
      ],
      'pager': {'prev': 0, 'current': 1, 'next': 1, 'page_size': 20, 'total_page': 1, 'total': 13}
    },
  }
</script>
<script src="public/scripts/walletaccount.js"></script>
</body>
</html>
