<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>main</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="public/styles/main.css">
  <!-- endbuild -->
</head>
  <body>
  <div class="index-container" id="welcome" v-cloak>
    <m-swipe swipeid="swipe" ref="swiper" :autoplay="0" effect="slide" @slideindex="slideindex">
      <div v-for="(top, index) in tops" class="swiper-slide" slot="swiper-con">
        <a :href="top.url" class="link">
          <img :data-src="top.image" class="swiper-lazy silde-img">
        </a>
        <a href="main.html" class="enter"  v-if="index==0"></a>
      </div>
    </m-swipe>
    <transition name="fade">
    <div class="top" v-if="flagIndex">
      <div class="inner">
        <div class="text">
          <div class="title">方寸堂</div>
          <div class="vtitle">自有我天地</div>
        </div>
        <img src="public/img/mobile/logo2.png" class="logo">
        <div class="btn-container">
          <a href="main.html" class="btn">进入</a>
        </div>
      </div>
    </div>
    </transition>

  </div>
  <script src="public/scripts/vue.js"></script>
  <script src="public/scripts/swiper.js"></script>
  <script src="public/scripts/api/index.js"></script>
  <script type="text/x-template" id="m_swipe">
    <div class="swiper-container" :class="swipeid">
      <div class="swiper-wrapper">
        <slot name="swiper-con"></slot>
      </div>
      <!-- 分页器 -->
      <div :class="{'swiper-pagination':pagination}"></div>
    </div>
  </script>
  <script>
    var config = {
      "slides": [
        {
          "image": "/public/img/mobile/resource/wel0.png",
          "url": "asdadaddsadadasd",
          "id": 0,
          "title": "aaa"
        },
        {
          "image": "/public/img/mobile/resource/wel1.png",
          "url": 0,
          "id": 1,
          "title": "bbb"
        },
        {
          "image": "/public/img/mobile/resource/wel2.png",
          "url": 0,
          "id": 2,
          "title": "ccc"
        },

      ]
    };
  </script>
  <script src="public/scripts/welcome.js"></script>
  </body>
</html>
