/* extra single pay */
body {
  margin: 0;
}
@media screen and (min-width: 375px){
  html, body {
    font-size: 73.2421875%;
  }
}
@media screen and (min-width: 360px){
  html, body {
    font-size: 70.3125%;
  }
}
@media screen and (min-width: 320px){
  html, body {
    font-size: 62.5%;
    font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    width: 100%;
    height: 100%;
    line-height: initial;
    color: #333;
    background-color: #fff;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

input, select, textarea {
  appearance:none;
  -webkit-appearance: none;
  -moz-appearance:none;
}
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
a, a:link, a:visited, a:hover, a:active {
  color: #333;
  text-decoration: none;
  background-color: initial;
}
input{
  outline: none;
}
.hide {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
.pay-container {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: normal;
  background-color: #f2f2f2;
}
.pay-container .tips {
  padding: 5.333% 0;
  margin-bottom: 10px;
  text-align: center;
  background-color: #fff;
}
.pay-container .tips .title {
  line-height: 30px;
  font-size: 1.6rem;
}
.pay-container .tips .title img.check {
  width: 24px;
  margin-right: 1%;
}
.pay-container .tips .text {
  margin-top: 5.333%;
}
.pay-container .tips .text .pri {
  font-size: 1.6rem;
  color: #993333;
}
.pay-container .ways {
  width: 100%;
  background-color: #fff;
}
.pay-container .ways ul.way-list {
  width: 100%;
}
.pay-container .ways ul.way-list li {
  position: relative;
  width: 100%;
  padding-bottom: calc(48 / 375 * 100% - 1px);
}
.pay-container .ways ul.way-list li label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
}
.pay-container .ways ul.way-list li label img {
  padding: calc(9 / 375 * 100%) 4.8%;
  width: 8%;
  vertical-align: baseline;
}
.pay-container .ways ul.way-list li label .line {
  position: relative;
  display: inline-block;
  padding-bottom: calc(48 / 375 * 100% - 1px);
  width: 82.4%;
  border-bottom: 1px solid #dcdcdc;
}
.pay-container .ways ul.way-list li label .line.unline {
  border: none;
}
.pay-container .ways ul.way-list li label .line .txt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.pay-container .ways ul.way-list li label .line input[type=radio] {
  position: absolute;
  top: 50%;
  right: 4.8%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 7.12%;
  padding-bottom: 7.12%;
  background: url(../img/mobile/check3.png) no-repeat center center;
  background-size: 100% auto;
  border: none;
}
.pay-container .ways ul.way-list li label .line input[type=radio]:checked:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/mobile/check2.png) no-repeat center center;
  background-size: 100% auto;
  border: none;
}
.pay-container .pay-sub {
  position: absolute;
  bottom: 4%;
  left: 4%;
  width: 92%;
}
.pay-container .pay-sub a.sub-link, .pay-container .pay-sub a.sub-link:link, .pay-container .pay-sub a.sub-link:visited, .pay-container .pay-sub a.sub-link:hover, .pay-container .pay-sub a.sub-link:active {
  width: calc(100% - 2px);
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 auto;
}
.index-container .btns .enter a, .index-container .btns .enter a:link, .index-container .btns .enter a:visited, .index-container .btns .enter a:hover, .index-container .btns .enter a:active, .index-container .btns .download a, .index-container .btns .download a:link, .index-container .btns .download a:visited, .index-container .btns .download a:hover, .index-container .btns .download a:active, .login-container .form-data .items .right .code-container a.get-code, .login-container .form-data .items .right .code-container a.get-code:link, .login-container .form-data .items .right .code-container a.get-code:visited, .login-container .form-data .items .right .code-container a.get-code:hover, .login-container .form-data .items .right .code-container a.get-code:active, .login-container .log-btn .sub, .login-container .log-btn .sub:link, .login-container .log-btn .sub:visited, .login-container .log-btn .sub:hover, .login-container .log-btn .sub:active, .buy-container .options .buy-ani.show a.sub, .buy-container .options .buy-ani.show a.sub:link, .buy-container .options .buy-ani.show a.sub:visited, .buy-container .options .buy-ani.show a.sub:hover, .buy-container .options .buy-ani.show a.sub:active, .pay-container .btn-container ul.list li a, .pay-container .btn-container ul.list li a:link, .pay-container .btn-container ul.list li a:visited, .pay-container .btn-container ul.list li a:hover, .pay-container .btn-container ul.list li a:active, .pay-container .pay-sub a.sub-link, .pay-container .pay-sub a.sub-link:link, .pay-container .pay-sub a.sub-link:visited, .pay-container .pay-sub a.sub-link:hover, .pay-container .pay-sub a.sub-link:active{
  width: calc(100% - 2px);
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 auto;
}
.pay-container .pay-sub a.sub-link, .pay-container .pay-sub a.sub-link:link, .pay-container .pay-sub a.sub-link:visited, .pay-container .pay-sub a.sub-link:hover, .pay-container .pay-sub a.sub-link:active {
  color: #fff;
  border: 1px solid #fff;
  background-color: #1d1d1d;
  height: 48px;
  line-height: 48px;
  font-size: 1.4rem;
}
.pay-container .btn-container ul.list li a, .pay-container .btn-container ul.list li a:link, .pay-container .btn-container ul.list li a:visited, .pay-container .btn-container ul.list li a:hover, .pay-container .btn-container ul.list li a:active {
  color: #333;
  border: 1px solid #333;
  background-color: initial;
  height: 38px;
  line-height: 38px;
  font-size: 1.4rem;
}

.pay-container .tips .info {
  padding: 4% 4.8% 0;
  text-align: left;
  color: #8a8a8a;
}
.pay-container .btn-container {
  margin: 7.4% 0;
  padding: 0 4.8%;
}
.pay-container .btn-container ul.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pay-container .btn-container ul.list li {
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
  width: 45.1%;
}
.pay-container .safe {
  color: #8a8a8a;
  padding: 0 4.8%;
}
.pay-container .link {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  text-align: center;
}
.pay-container .link .second {
  color: #993333;
}
